<div id="sell-page">
	<div class="sell-header">
		<div class="hero-image-gallery">
			<div class="crossfade">
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
			</div>
			<div class="btn-wrapper text-center">
				<button class="btn font2 weight-bold btn-lg btn-start-selling">START SELLING</button>
			</div>
		</div>
	</div>
	<div class="categories-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="font2 text-color-1 weight-bold">WHAT DO YOU WANT TO SELL</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'mobile'})">
						<div class="icon mobile"></div>
						<p>MOBILE PHONES</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'desktop'})">
						<div class="icon desktop"></div>
						<p>DESKTOP</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'tv'})">
						<div class="icon tv"></div>
						<p>TV</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'tablet'})">
						<div class="icon tablet"></div>
						<p>TABLET</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'imac'})">
						<div class="icon i-mac"></div>
						<p>I MAC</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'laptop'})">
						<div class="icon laptop"></div>
						<p>LAPTOPS</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'gaming'})">
						<div class="icon gaming-console"></div>
						<p>GAMING CONSOLE</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="category-card" ui-sref="sellProduct.step1({category: 'appliances'})">
						<div class="icon home-appliances"></div>
						<p>HOME APPLIANCES</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>