<!-- Buy-06.psd -->

<div id="cart-overview">
	<div class="cart-overview-wrapper">
		<div class="info-cards">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="detail-card" ng-repeat="data in [1,2]">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<img src="assets/imgs/image-placeholder-square.png" class="img-responsive" alt="">
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="wrapper text-color-2">
										<h4 class="font2 text-color-2 weight-bold">HP Pavillion 13"</h4>
										<div>
											<div class="inline-block">
												<b>Amount:</b> <span>Rs. 5000</span>
											</div>
										</div>
										<div>
											<div class="inline-block">
												<b>Colour: </b> <span>Black</span>
											</div>
											<div class="inline-block">
												<b>Other Specs: </b> <span>Dolor sit amet, Consectetur</span>
											</div>
										</div>
										<div>
											<div class="inline-block">
												<b>Other Specs: </b> <span>Dolor sit amet, Consectetur</span>
											</div>
											<div class="inline-block">
												<b>Qty:</b> <span>1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4"></div>
								<div class="col-md-8 col-sm-8">
									<div class="options">
										<div class="inline-block">
											<a class="cursor-pointer">Move to Wishlist</a>
										</div>
										<div class="inline-block">
											<a class="cursor-pointer">Remove</a>
										</div>
										<div class="inline-block">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Add Extended Warranty for Rs. 999/-
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="continue-shopping">
							<hr class="custom">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6 text-left">
									<a class="font2 text-color-2 weight-bold cursor-pointer">Add from Wishlist</a>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 text-right">
									<a class="font2 text-color-2 weight-bold cursor-pointer">Continue Shopping</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="apply-coupon-card text-color-2">
							<h4 class="weight-bold font2 text-color-2">APPLY VOUCHER CODES</h4>
							
						</div>
						<div class="summary-card text-color-2">
							<h4 class="weight-bold font2 text-color-2">ORDER SUMMARY</h4>
							<div>
								<b>Sub Total: </b><span>Rs. 4200</span>
							</div>
							<div>
								<b>Shopping Bag: </b><span>2 Items</span>
							</div>
							<div>
								<b>Coupon Discount: </b><span>N/A</span>
							</div>
							<div>
								<b>Shipping Charges: </b><span>Rs. 0</span>
							</div>
							<div>
								<b>PAY AMOUNT: </b><span>Rs. 4200</span>
							</div>
						</div>
						<button ui-sref="cart.delivery" class="btn btn-color btn-lg btn-block weight-bold font2">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>