<div id="compare-buy">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<pn-loading-spinner ng-show="loadingData" padding-bottom="100px"></pn-loading-spinner>
				<p class="no-data text-center text-color-2" ng-hide="loadingData || compareLots.buy.length > 1">Add minimum 2 lots to compare list to compare.</p>
				<div ng-hide="loadingData || compareLots.buy.length <= 1" class="content">
					<table class="table compare-table">
						<tbody>
							<tr>
								<td>
								</td>
								<td ng-repeat="data in [0,1,2] track by $index " on-finish-render="ngRepeatFinished" ng-show="buyLots.lotIds[$index]">
									<div class="image-wrapper">
										<img class="img-responsive" ng-src="{{buyLots.lotImageURLs[$index]}}" alt="">
									</div>
									<div class="info" ng-show="buyLots.lotIds[$index]">
										<p><b>{{buyLots.lotName[$index]}}</b></p>
										<p><b>Price: </b><span>Rs. {{buyLots.lotContents[$index][0].quantityAvailable * buyLots.lotContents[$index][0].price}}</span></p>
										<button ng-hide="buyLots.isLotSoldOut[$index]" class="btn btn-color font2 weight-bold" ui-sref="details.detailsDirectBuy({id: buyLots.lotIds[$index]})">Buy Now</button>
									</div>
								</td>
							</tr>
							<tr class="">
								<td><b>Brand</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]"><b>{{buyLots.brandNameTags[$index][0] || 'N/A'}}</b></td>
							</tr>
							<tr class="">
								<td><b>Specifications</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-repeat="spec in buyLots.productDescription[$index][0].specifications">
										<b>{{spec.displayName}}: </b><span>{{spec.specificationValue}}</span>
									</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Age</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.productDescription[$index][0].ageinmonths">{{buyLots.productDescription[$index][0].ageinmonths}} Months old
									</p>
									<p ng-show="buyLots.productDescription[$index][0].ageinmonths == undefined">N/A</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Condition</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.productDescription[$index][0].condition == 1">Good
									</p>
									<p ng-show="buyLots.productDescription[$index][0].condition == 2">Average</p>
									<p ng-show="buyLots.productDescription[$index][0].condition == 3">Below Average</p>
									<p ng-show="buyLots.productDescription[$index][0].condition == undefined">N/A</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Availablity</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.isLotSoldOut[$index] == true">Sold Out
									</p>
									<p ng-show="buyLots.isLotSoldOut[$index] == false">Available</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Working Condition</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.productDescription[$index][0].workingcondition == true">Working
									</p>
									<p ng-show="buyLots.productDescription[$index][0].workingcondition == false">Not Working</p>
									<p ng-show="buyLots.productDescription[$index][0].workingcondition == undefined">N/A</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Valid Bill</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.productDescription[$index][0].validbill == true">Yes
									</p>
									<p ng-show="buyLots.productDescription[$index][0].validbill == false">No</p>
									<p ng-show="buyLots.productDescription[$index][0].validbill == undefined">N/A</p>
								</td>
							</tr>
							<tr class="">
								<td><b>Original Box</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p ng-show="buyLots.productDescription[$index][0].originalbox == true">Yes
									</p>
									<p ng-show="buyLots.productDescription[$index][0].originalbox == false">No</p>
									<p ng-show="buyLots.productDescription[$index][0].originalbox == undefined">N/A</p>
								</td>
							</tr>
							<tr class="">
								<td><b>T & C</b></td>
								<td ng-repeat="data in [0,1,2] track by $index" ng-show="buyLots.lotIds[$index]">
									<p>{{buyLots.lotTermsAndConditions[$index] || 'N/A'}}</p>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>