<div id="contact-page">
	<div class="contact-header">
		<!-- <div class="hero-image-gallery">
			<div class="crossfade">
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
			</div>
			<div class="btn-wrapper text-center">
				<button class="btn font2 weight-bold btn-lg btn-start-selling">START SELLING</button>
			</div>
		</div> -->
		<h3 class="weight-bold text-center font2">GET IN TOUCH</h3>
	</div>
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-heading font2 text-color-1 weight-bold">Locate Us</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="address-wrapper">
						<uib-accordion close-others="true">
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="true">
								<uib-accordion-heading>
									DELHI/NCR
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>BRP InfoTech Pvt. Ltd. R-24, Rita Block<br>Aneja Complex, Shakarpur<br>New Delhi, Delhi 110092</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Raipur/Chhattisgarh
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Namo eWaste Management Ltd.4,5,6<br>Ashirwad TowersG.E. Road<br>Raipur,Chattisgarh-492001
</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Kolkata/ West Bengal
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Arhan Scap Solution, 33/H/1<br>MIRZA GHALIB STREET<br>KOLKATA-16</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Mumbai/ Maharashtra
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Bora Metals, 15/D/3 Salim Compound<br>12th Khetwadi Cross Lane,Near Balwas Hotel<br>Grant Road, Mumbai – 400007</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Haryana
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Namo eWaste Management Ltd.<br>14/1 Mathura Road<br>Faridabad</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Ludhiana/ Punjab
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Sai Computers,  643/1A opposite old DMC hospital civil lines<br>Ludhiana (Punjab)
</p>
										</li>
									</ul>
								</div>
							</div>
							<div uib-accordion-group class="panel-default font2 box-shadow" is-open="false">
								<uib-accordion-heading>
									Bangalore/ Karnataka
								</uib-accordion-heading>
								<div class="accordion-content">
									<ul class="filters-wrapper list-unstyled">
										<li >
											<p>Namo eWaste Management Ltd.<br>R-14 Jigani Link Road<br>Bommsandra Ind.Area<br>Bangalore-560099</p>
										</li>
									</ul>
								</div>
							</div>
						</uib-accordion>
					</div>
				</div>
				<div class="col-md-6">
					<div class="map-wrapper">
						<div id="contact-map"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="contact-form">
						<h3 class="font2 text-color-1 weight-bold">We'd love to hear from you!</h3>
						<form>
							<input type="text" class="form-control" ng-model="contactForm.name" placeholder="Name">
							<input type="text" class="form-control" ng-model="contactForm.email" placeholder="Email">
							<textarea class="form-control" rows="4" ng-model="contactForm.message" placeholder="Message"></textarea>
							<button type="button" ng-click="sendEmail()" class="btn btn-lg btn-color">SUBMIT</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box pn-gradient">
						<h3 class="font2 weight-bold center-block text-color-white">WANT TO BE A PLANETARIAN?</h3>
						<p class="center-block text-color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo aliquam similique asperiores dolore eius et nulla exercitationem neque voluptas hic consequuntur cum, maiores, assumenda!</p>
						<button class="btn btn-lg">JOIN US</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>