#contact-page .contact-header{
	position: relative;
	min-height: 400px;
	background: #3ab54a;
	color: #fff;
	background-image: url('../../imgs/planet-namo-contact.jpg');
	background-size: cover;
	background-position: center;
}

#contact-page .contact-header h3{
	margin: 0;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#contact-page .box-shadow{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#contact-page .content-wrapper{
	padding-top: 20px;
	padding-bottom: 80px;
}

#contact-page .content-wrapper .page-heading{
	padding-bottom: 20px;
}

#contact-page .content-wrapper .address-wrapper .panel-group .panel {
	border-radius: 0;
	margin-bottom: 6px;
	border: none;
}

#contact-page .content-wrapper .address-wrapper .panel-default > .panel-heading {
	background-color: #5dd66c;
	color: #fff;
	border-radius: 0;
	padding: 4px 5px;
}

#contact-page .content-wrapper .address-wrapper .panel-group .panel-open > .panel-heading{
	background-color: #3bb549;
}

#contact-page .content-wrapper .address-wrapper .panel-default > .panel-heading a {
	display: block;
	padding: 6px 10px;
	text-decoration: none;	
}

#contact-page .content-wrapper .address-wrapper .panel-default .panel-body .accordion-content ul li {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ddd;
}

#contact-page .content-wrapper .address-wrapper .panel-default .panel-body .accordion-content ul li:last-child{
	border-bottom: none;
}

#contact-page .content-wrapper .address-wrapper .panel-default .panel-body .accordion-content ul li p{
	margin-bottom: 0;
}

#contact-page .content-wrapper .map-wrapper #contact-map{
	width: 100%;
	height: 320px;
}

#contact-page .content-wrapper .contact-form{
	padding-top: 40px;
}

#contact-page .content-wrapper .contact-form h3{
	margin-top: 0;
}

#contact-page .content-wrapper .contact-form form .form-control{
	margin-bottom: 10px;
}

#contact-page .content-wrapper .contact-form form textarea{
	max-width: 100%;
	max-height: 100px;
}

#contact-page .content-wrapper .info-box{
	margin-top: 40px;
	padding: 14px;
	min-height: 300px;
	text-align: center;
}

#contact-page .content-wrapper .info-box *{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 350px;
}

#contact-page .content-wrapper .info-box button.btn{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff !important;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#contact-page .content-wrapper .info-box button:hover,
#contact-page .content-wrapper .info-box button:focus{
	background-color: #fff;
	color: #444;
	border: 1px solid #fff;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){

}