<!-- Sell-08.psd -->

<div id="sell-product-step-7">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="progress-icons-wrapper">
							<div class="seed-icon step5"></div>
							<p>And you are done!</p>
						</div>
						<div class="question">
							<h1 class="font2 weight-bold text-color-2">What's the condition of your mobile?</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="estimated-price-wrapper">
										<div>
											<div class="icon-wrapper">
												<div class="icon {{selectedCategoryIcon}}"></div>
											</div>
											<div class="price-wrapper text-center">
												<!-- <p>ESTIMATE PRICE</p>
												<h3 class="weight-bold font2 text-color-2">Rs. 5400</h3> -->
												<h3 class="weight-bold font2 text-color-2">{{productDetails.productName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="user-input-card">
										<div class="row">
											<div class="col-md-12">
												<p class="info-text">Select the valid option</p>
											</div>
											<div class="col-md-12">
												<div class="checklist cursor-pointer" ng-click="selectOption(data)" ng-class="activeOption[data.name]" ng-repeat="data in checklist">
													<div class="row">
														<div class="col-md-3">
															<div class="inline-block">
																<h4 class="weight-bold">{{data.name}}</h4>
															</div>
														</div>
														<div class="col-md-9">
															<div class="list">
																<p class="inline-block">
																	{{data.description}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<button ng-click="goToNext()" class="btn btn-next btn-lg btn-color font2 wight-bold">NEXT</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>