#about-page .about-header{
	position: relative;
	min-height: 400px;
	background: #3ab54a;
	color: #fff;
	background-image: url('../../imgs/planet-namo-about-bg.jpg');
	background-size: cover;
	background-position: center;
}

#about-page .about-header h3,
#about-page .meet-the-planetarians h3{
	margin: 0;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#about-page .scroll-down-icon-wrapper .icon{
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-page .scroll-down-icon-wrapper .icon .scroll-icon{
	display: inline-block;
	width:30px;
	height:30px;
	background-image: url('../../imgs/icons/icons-home.png');
	background-size: cover;
	background-position: -187px -77px;
	background-size: 325px;
	position: relative;
	-webkit-animation: iconAnimation 1.6s ease-in-out infinite;
	-o-animation: iconAnimation 1.6s ease-in-out infinite;
	animation: iconAnimation 1.6s ease-in-out infinite;
}

#about-page .box-shadow{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#about-page .content-wrapper{
	padding-top: 20px;
	padding-bottom: 80px;
}

#about-page .intro-text{
	padding-top: 50px;
	padding-bottom: 40px;
}

#about-page .intro-text h2{
	padding-bottom: 10px;
}

#about-page .block-heading{
	padding-bottom: 40px;
}
#about-page .block-heading .underline{
	width: 50px;
	height: 3px;
}

#about-page .what-we-do{
	padding-top: 40px;
	padding-bottom: 40px;
}

#about-page .what-we-do p{
	text-align: center;
}

#about-page .video-thumb{
	width: 100%;
	height: 250px;
	position: relative;
	background-image: url('../../imgs/image-placeholder-large.png');
    background-size: cover;
    background-position: center;
}

#about-page .how-can-you-help{
	padding-bottom: 80px;
}

#about-page .how-can-you-help .video-thumb .play-icon {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

#about-page .meet-the-planetarians{
	position: relative;
	min-height: 350px;
	background: #3ab54a;
	color: #fff;
	background-image: url('../../imgs/meet-the-planetarians.jpg');
	background-size: cover;
	background-position: center;
}

#about-page .people{
	padding-top: 40px;
	padding-bottom: 60px;
}

#about-page .people .picture img{
	max-width: 200px;
}

#about-page .people .picture .underline{
	max-width: 220px;
	height: 6px;
}

#about-page .people button.join-us-btn{
	margin-top: 50px;
	min-width: 180px;
}

#about-page .in-the-news{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #fcfcfc;
	text-align: center;
}

#about-page .in-the-news .picture img,
#about-page .awards .picture img{
	max-width: 200px;
	margin: 0 auto;
}

#about-page .in-the-news a{
	font-size: 12px;
}

#about-page .awards{
	padding-top: 60px;
	padding-bottom: 60px;
}

#about-page .awards .block-heading .underline{
	background-color: #fff;
}


/* For extra small and small screens only */
@media (max-width: 991px){
}

/* for extra small screen only*/
@media (max-width: 767px){
	#about-page .about-header{
		min-height: 300px;
	}
	#about-page .meet-the-planetarians{
		min-height: 200px;
	}
	#about-page .block-heading h3{
		font-size: 20px;
	}
	#about-page .intro-text,
	#about-page .what-we-do{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#about-page .intro-text h2{
		font-size: 24px;
	}
	#about-page .what-we-do p{
		text-align: left;
	}
	#about-page .video-thumb{
		margin-bottom: 20px;
	}
	#about-page .people p{
		padding-bottom: 20px;
	}
	#about-page .people button.join-us-btn{
		margin-top: 20px;
	}
	#about-page .in-the-news .picture{
		padding-top: 30px;
	}
	#about-page .in-the-news .picture.first{
		padding-top: 0;
	}
	#about-page .awards .picture{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}