#home-page .hero-image-gallery{
	position: relative;
	min-height: 440px;
}

#home-page .offers-banner{
	padding-top: 1px;
}

#home-page .offers-banner img{
	width: 100%;
	position: relative;
	cursor: pointer;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#home-page .offers-banner img:hover{
	-webkit-transform: scale(.99);
	-ms-transform: scale(.99);
	-o-transform: scale(.99);
	transform: scale(.99);
}

#home-page .box-shadow{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#home-page .scroll-down-icon-wrapper .icon{
	padding-top: 10px;
	padding-bottom: 10px;
}

#home-page .scroll-down-icon-wrapper .icon .scroll-icon{
	display: inline-block;
	width:30px;
	height:30px;
	background-image: url('../../imgs/icons/icons-home.png');
	background-size: cover;
	background-position: -187px -77px;
	background-size: 325px;
	position: relative;
	-webkit-animation: iconAnimation 1.6s ease-in-out infinite;
	-o-animation: iconAnimation 1.6s ease-in-out infinite;
	animation: iconAnimation 1.6s ease-in-out infinite;
}

#home-page .info-blocks-wrapper{
	padding-top: 50px;
	padding-bottom: 40px;
}

#home-page .info-blocks-wrapper .info-card{
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid transparent;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#home-page .info-blocks-wrapper .info-card:hover{
	-webkit-transform: scale(.99);
	-ms-transform: scale(.99);
	-o-transform: scale(.99);
	transform: scale(.99);
	background-color: #e9ffd3;
}

#home-page .info-blocks-wrapper .info-card .img-area{
	width: 250px;
	height: 190px;
	/*background-color: green;*/
}

#home-page .info-blocks-wrapper .info-card .gradient-bar{
	width:100%;
	height: 8px;
	margin-top: 12px;
}

#home-page .info-blocks-wrapper .info-card .heading-area h3{
	font-weight: bold;
}

#home-page .info-blocks-wrapper .buy-now-btn{
	margin-top: 20px;
}

#home-page .info-blocks-wrapper .img-placeholder-square{
	background-image: url('../../imgs/icons/icons-home.png');
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
	background-size: 785px;
}

#home-page .info-blocks-wrapper .img-placeholder-square.first{
	background-position: -58px 0;
	width: 150px;
}

#home-page .info-blocks-wrapper .img-placeholder-square.second{
	background-position: -264px 0;
}

#home-page .info-blocks-wrapper .img-placeholder-square.third{
	background-position: -528px 0px;
}

#home-page .category-blocks-wrapper{
	padding-top: 40px;
	padding-bottom: 40px;
}

#home-page .category-blocks-wrapper .top-heading h3{
	font-weight: bold;
}

#home-page .category-blocks-wrapper .category-card{
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#home-page .category-blocks-wrapper .category-card:hover{
	-webkit-transform: scale(.99);
	-ms-transform: scale(.99);
	-o-transform: scale(.99);
	transform: scale(.99);
	background-color: #e9ffd3;
}

#home-page .category-blocks-wrapper .category-card .img-area{
	width:200px;
	height: 200px;
}

#home-page .category-blocks-wrapper .img-placeholder-square{
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
	background-size: 800px;
}

#home-page .category-blocks-wrapper .img-placeholder-square.mobile{
	background-position: 0 0;
}

#home-page .category-blocks-wrapper .img-placeholder-square.desktop{
	background-position: 0 -185px;
}

#home-page .category-blocks-wrapper .img-placeholder-square.home-appliances{
	background-position: -400px -200px;
}

#home-page .category-blocks-wrapper .category-card .text-area{
	font-size: 18px;
	padding-top: 20px;
}

#home-page .hot-selling-wrapper,
#home-page .new-added-wrapper{
	padding-top: 30px;
	padding-bottom: 30px;
}

#home-page .new-added-wrapper{
	padding-bottom: 60px;
}

#home-page .hot-selling-wrapper .carousel-wrapper .slick-slide:focus,
#home-page .new-added-wrapper .carousel-wrapper .slick-slide:focus{
	outline: none;
}

#home-page .hot-selling-wrapper .carousel-wrapper .outer,
#home-page .new-added-wrapper .carousel-wrapper .outer{
	padding: 10px;
}

#home-page .hot-selling-wrapper .carousel-wrapper .outer .card-wrapper,
#home-page .new-added-wrapper .carousel-wrapper .outer .card-wrapper{
	padding: 6px;
}

#home-page .hot-selling-wrapper .card-wrapper .top-bar,
#home-page .new-added-wrapper .card-wrapper .top-bar{
	padding-bottom: 10px;
}

#home-page .hot-selling-wrapper .card-wrapper .top-bar > div,
#home-page .new-added-wrapper .card-wrapper .top-bar > div{
	display: inline-block;	
}

#home-page .hot-selling-wrapper .card-wrapper .top-bar .favourite-icon .fa,
#home-page .new-added-wrapper .card-wrapper .top-bar .favourite-icon .fa{
	cursor: pointer;
}
#home-page .hot-selling-wrapper .card-wrapper .top-bar .favourite-icon .fa.fa-heart-o:hover::before,
#home-page .new-added-wrapper .card-wrapper .top-bar .favourite-icon .fa.fa-heart-o:hover::before{
	content:"\f004";
	color: #ff0000;
}

#home-page .hot-selling-wrapper .card-wrapper .top-bar .favourite-icon .fa.fa-heart,
#home-page .new-added-wrapper .card-wrapper .top-bar .favourite-icon .fa.fa-heart{
	color: #ff0000;	
}

#home-page .hot-selling-wrapper .card-wrapper .top-bar .checkbox,
#home-page .new-added-wrapper .card-wrapper .top-bar .checkbox{
	margin: 0;
}

#home-page .hot-selling-wrapper .card-wrapper .image-wrapper,
#home-page .new-added-wrapper .card-wrapper .image-wrapper{
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
}

#home-page .hot-selling-wrapper .card-wrapper .image-wrapper .product-image,
#home-page .new-added-wrapper .card-wrapper .image-wrapper .product-image{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

#home-page .hot-selling-wrapper .card-wrapper .image-wrapper .offer-text,
#home-page .new-added-wrapper .card-wrapper .image-wrapper .offer-text{
	position: absolute;
	left: 0;
	top: 20px;
	height: 28px;
	padding: 4px;
	background-color: #f8c406;
	color: #fff;
	font-size: 12px;
}

#home-page .hot-selling-wrapper .card-wrapper .image-wrapper .offer-text:after,
#home-page .new-added-wrapper .card-wrapper .image-wrapper .offer-text:after{
	position: absolute;
	content: "";
	top: 0;
	left: 100%;
	border: 14px solid transparent;
	border-left-color: #f8c406;
}

#home-page .hot-selling-wrapper .card-wrapper .info-wrapper ,
#home-page .new-added-wrapper .card-wrapper .info-wrapper {
	border: 1px solid #bbb;
}

#home-page .hot-selling-wrapper .card-wrapper .info-wrapper >div ,
#home-page .new-added-wrapper .card-wrapper .info-wrapper >div {
	border-bottom: 1px solid #bbb;
	padding: 10px 6px;
}

#home-page .hot-selling-wrapper .card-wrapper .info-wrapper > .name h3,
#home-page .new-added-wrapper .card-wrapper .info-wrapper > .name h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 22px;
}

#home-page .hot-selling-wrapper .card-wrapper .info-wrapper > .price span.line-through,
#home-page .new-added-wrapper .card-wrapper .info-wrapper > .price span.line-through{
	color: #999;
}

#home-page .hot-selling-wrapper .card-wrapper .info-wrapper > .stars i,
#home-page .new-added-wrapper .card-wrapper .info-wrapper > .stars i{
	color: #ffd80e;
	font-size: 18px;
}

#home-page .hot-selling-wrapper .card-wrapper .buy-btn,
#home-page .new-added-wrapper .card-wrapper .buy-btn{
	padding-top: 8px;
}


/**/

#home-page .stats-blocks-wrapper .background{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
	text-align: center;
}

#home-page .stats-blocks-wrapper .stats-card .img-area{
	width:80px;
	height: 80px;
	max-width: 100%;
}

#home-page .stats-blocks-wrapper .stats-card .img-area .img-placeholder{
	width:80px;
	height: 80px;
	background-image: url('../../imgs/icons/icons-home.png');
	background-size: cover;
	background-size: 777px;
}

#home-page .stats-blocks-wrapper .stats-card .img-area .img-placeholder.one{
	background-position: -18px 80px;
}

#home-page .stats-blocks-wrapper .stats-card .img-area .img-placeholder.two{
	background-position: -128px 80px;
}

#home-page .stats-blocks-wrapper .stats-card .img-area .img-placeholder.three{
	background-position: -244px 80px;
}

#home-page .stats-blocks-wrapper .stats-card .img-area .img-placeholder.four{
	background-position: -353px 80px;
}

#home-page .stats-blocks-wrapper .heading-area h3{
	font-weight: bold;
	font-size: 60px;
	margin-bottom: 0;
}

#home-page .stats-blocks-wrapper .stats-card .text-area{
	font-size: 28px;
}

#home-page .testimonials-wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
}

#home-page .testimonials-wrapper h3,
#home-page .hot-selling-wrapper h3,
#home-page .new-added-wrapper h3{
	margin-top: 6px;
}

#home-page .testimonials-wrapper .slide-icons i,
#home-page .hot-selling-wrapper .slide-icons i,
#home-page .new-added-wrapper .slide-icons i{
	padding: 0 10px;
	cursor: pointer;
	color: #999;
}

#home-page .testimonials-wrapper .slide-icons i:hover,
#home-page .hot-selling-wrapper .slide-icons i:hover,
#home-page .new-added-wrapper .slide-icons i:hover{
	color: #333;
}

#home-page .testimonials-wrapper .carousel-wrapper .slick-slide:focus{
	outline: none;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer{
	padding: 10px;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card{
	padding: 14px;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .video-card,
#home-page .testimonials-wrapper .carousel-wrapper .outer .card .text-card{
	min-height: 150px;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .video-card{
	background-color: #777;
	position: relative;
	background-size: cover;
	background-position: center;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .video-card .user-info{
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 100%;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5), transparent);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5), transparent);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.5), transparent);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), transparent);
	background-image: linear-gradient(to top, rgba(0,0,0,.5), transparent);
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .video-card .play-icon{
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	cursor: pointer;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .video-card .user-info h4{
	margin: 0;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .text-card .user-info{
	padding-bottom: 20px;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .text-card .user-info .img-wrapper{
	padding-right: 14px;
}

#home-page .testimonials-wrapper .carousel-wrapper .outer .card .text-card .text p{
	margin: 0;
}

#home-page .planet-bg-wrapper .background{
	display: table;
	width: 100%;
	height: 350px;
	background-color: #3ab54a;
	background-image: url('../../imgs/planet-bg.jpg');
	background-size: cover;
	background-position: center;
}

#home-page .planet-bg-wrapper .background p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 52px;
	font-weight: bold;
}

/* for extra small screen only*/
@media (max-width: 767px){
	#home-page .info-blocks-wrapper .info-card{
		max-width: 350px;
		padding: 0px;
		padding-bottom: 16px;
	}

	#home-page .info-blocks-wrapper .category-card{
		max-width: 350px;
		padding: 0px;
		padding-bottom: 16px;
	}
	
	#home-page .stats-blocks-wrapper .background{
		padding-bottom: 24px;
	}

	#home-page .stats-blocks-wrapper .stats-card{
		padding-bottom: 16px;
	}

	#home-page .stats-blocks-wrapper .heading-area h3{
		font-size: 46px;
	}

	#home-page .stats-blocks-wrapper .stats-card .text-area{
		font-size: 20px;
	}
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#home-page .stats-blocks-wrapper .heading-area h3{
		font-size: 46px;
	}

	#home-page .stats-blocks-wrapper .stats-card .text-area{
		font-size: 20px;
	}

	#home-page .hot-selling-wrapper .card-wrapper .info-wrapper > .sold-qty .progress-wrapper{
		padding:0;
		padding-top: 4px;
	}
}

/* For small screens only */
@media (min-width: 768px) and (max-width: 991px){

}


@-webkit-keyframes 
iconAnimation {  0% {
	top: 0;
}
50% {
	top: 6px;
}
100% {
	top: 0;
}
}

@keyframes 
iconAnimation {  0% {
	top: 0;
}
50% {
	top: 6px;
}
100% {
	top: 0;
}
}