<!-- Sell-06.psd -->

<div id="sell-product-step-5">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="progress-icons-wrapper">
							<div class="seed-icon step3"></div>
							<p>Mid-way! Be patient.</p>
						</div>
						<div class="question">
							<h1 class="font2 weight-bold text-color-2">Do you have the following?</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="estimated-price-wrapper">
										<div>
											<div class="icon-wrapper">
												<div class="icon {{selectedCategoryIcon}}"></div>
											</div>
											<div class="price-wrapper text-center">
												<!-- <p>ESTIMATE PRICE</p> -->
												<!-- <h3 class="weight-bold font2 text-color-2">Rs. 5400</h3> -->
												<h3 class="weight-bold font2 text-color-2">{{productDetails.productName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="user-input-card">
										<div class="row">
											<div class="col-md-12">
												<p class="info-text">Select the following you have</p>
											</div>
											<div class="col-md-12">
												<div class="checklist">
													<div class="row">
														<div class="col-md-4 col-sm-6" ng-repeat="accessory in accessories">
															<div class="checkbox">
																<label>
																	<input type="checkbox"  ng-model="accessoriesList[$index]" value="">
																	<h4 class="text-color-2 weight-bold">{{accessory.accessoryname}}</h4>
																</label>
															</div>
														</div>
														<div class="col-md-4 col-sm-6">
															<div class="checkbox">
																<label>
																	<input type="checkbox"  ng-model="validBill">
																	<h4 class="text-color-2 weight-bold">Valid Bill</h4>
																</label>
															</div>
														</div>
														<div class="col-md-4 col-sm-6">
															<div class="checkbox">
																<label>
																	<input type="checkbox"  ng-model="originalBox">
																	<h4 class="text-color-2 weight-bold">Original Box</h4>
																</label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<button ng-click="goToNext()" class="btn btn-next btn-lg btn-color font2 wight-bold">NEXT</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>