#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs{
	padding-top: 20px;
	padding-bottom: 20px;
}

#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul{
	display: flex;
	flex-direction: row;
	margin-left: 0;
	margin-bottom: 0;
}

#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li{
	display: flex;
	flex-grow: 1;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #e7e7e7;
}

#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li a{
	width: 100%;
	padding: 10px;
	color: #777;
	font-size: 16px;
	text-align: center;
}

#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li a:hover,
#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li a:focus{
	text-decoration:none;
	color: #333;
}
#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li a.active{
	background-color: #3bb549;
	color: #fff;
}

@media (max-width: 500px){
	#me-page #me-auction-hall-page .auction-hall-wrapper #auction-hall-nav-tabs ul li a{
		padding: 4px;
		font-size: 14px;
	}
}