/* #me-auction-hall-page is the id of parent view */

#me-page #me-auction-hall-page #me-auction-hall-archive{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .buttons + p{
	padding-top: 30px;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .bid-info-wrapper .wrapper > h4{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .bid-info-wrapper .wrapper > .content{
	padding: 10px 6px;
	border: 1px solid #ddd;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .bid-info-wrapper .wrapper > .content i.fa-caret-up{
	color: #409948;
	font-size: 18px;
	margin-left: 0;
}

#me-page #me-auction-hall-page #me-auction-hall-archive .card .bid-info-wrapper .wrapper > .content i.fa-caret-down{
	color: #ff0000;
	font-size: 18px;
	margin-left: 0;
}

/* For small and medium screens only */
@media (min-width: 768px) and (max-width: 1199px){
	#me-page #me-auction-hall-page #me-auction-hall-archive .card .buttons button{
		font-size: 14px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-auction-hall-page #me-auction-hall-archive .card .info-wrapper h4{
		padding-top: 10px;	
	}
	#me-page #me-auction-hall-page #me-auction-hall-archive .card .bid-info-wrapper{
		padding-bottom: 24px;
	}
}
