/* #me-auction-hall-page is the id of parent view */

#me-page #me-auction-hall-page #me-auction-hall-won{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-auction-hall-page #me-auction-hall-won .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-auction-hall-page #me-auction-hall-won .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

/* For small and medium screens only */
@media (min-width: 768px) and (max-width: 1199px){
	#me-page #me-auction-hall-page #me-auction-hall-won .card .buttons button{
		font-size: 14px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-auction-hall-page #me-auction-hall-won .card .info-wrapper h4{
		padding-top: 10px;	
	}
}
