/* #me-auction-hall-page is the id of parent view */

#me-page #me-auction-hall-page #me-auction-hall-live{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .info-wrapper p.total{
	padding-top: 10px;
	font-size: 16px;	
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > h4{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content{
	padding: 10px 6px;
	border: 1px solid #ddd;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content.no-padding{
	border: none;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content > .countdown-timer{
	zoom: .4;
	-moz-transform: scale(0.4);
	left: 50%;
	width: auto;
	margin: 0;
	display: inline-block;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content > .countdown-timer .flip-clock-divider.hours .flip-clock-label,
#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content > .countdown-timer .flip-clock-divider.minutes .flip-clock-label,
#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content > .countdown-timer .flip-clock-divider.seconds .flip-clock-label{
	display: none;
}


#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content i.fa-caret-up{
	color: #409948;
	font-size: 18px;
	margin-left: 0;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper > .content i.fa-caret-down{
	color: #ff0000;
	font-size: 18px;
	margin-left: 0;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .extend-bid-wrapper h5{
	font-size: 16px;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .extend-bid-wrapper .btn-white{
	border-color: #ccc !important;
	font-weight: bold;
}

#me-page #me-auction-hall-page #me-auction-hall-live .card .extend-bid-wrapper .btn-white:hover{
	background-color: #3bb549 !important;
	color: #fff !important;
}

.noPaddingSpinnerLoader div{
	padding: 0px !important;
}

/* For small and medium screens only */
@media (min-width: 768px) and (max-width: 1199px){
	#me-page #me-auction-hall-page #me-auction-hall-live .card .buttons button{
		font-size: 14px;
	}
}

/* For extra small screen only */
@media (max-width: 767px){
	#me-page #me-auction-hall-page #me-auction-hall-live .card .info-wrapper h4{
		padding-top: 10px;	
	}
}

/* For extra extra small and small screens only */
@media (max-width: 991px){
	#me-page #me-auction-hall-page #me-auction-hall-live .card .timer-and-bid-wrapper .wrapper{
		padding-bottom: 14px;
	}
	#me-page #me-auction-hall-page #me-auction-hall-live .card .extend-bid-wrapper h5{
		font-size: 14px;
		padding-top: 20px;
	}
	#me-page #me-auction-hall-page #me-auction-hall-live .card .extend-bid-wrapper .btn-color{
		margin-top: 10px;
	}
}
