<!-- Profile Art Board 13 Copy 3.psd -->
<div id="me-auction-hall-archive">
	<div class="row">
		<div class="col-md-12" ng-repeat="data in [1,2,3] track by $index">
			<div class="card box-shadow text-color-2">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="img-wrapper">
							<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-7 col-sm-6">
						<div class="info-wrapper">
							<h4 class="weight-bold">HP Pavillion 13"</h4>
							<p class="price">Starting Bid Price: <b>Rs. XXXXXX</b></p>
							<p ng-hide="data == 3">Final Bid: <b>Rs. XXXXXX</b></p>
							<p ng-hide="data == 3">Emd Paid: <b>Rs. XXXXXX</b></p>
							<p ng-hide="data == 3">Balance Due: <b>Rs. XXXXXX</b></p>
							<p class="visible-xs"><b>Date: 23.12.2016</b></p>
						</div>
						<div ng-show="data == 3" class="bid-info-wrapper">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="wrapper">
										<h4>LAST BID</h4>
										<div class="content">
											<span class="pull-left">Rs. XXXXXXX</span>
											<i class="fa fa-caret-up pull-right"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="wrapper">
										<h4>YOUR BID</h4>
										<div class="content">
											<span class="pull-left">Rs. XXXXXXX</span>
											<i class="fa fa-caret-down pull-right"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="buttons">
							<button type="button" class="btn btn-block btn-lg btn-color font2">VIEW DETAILS</button>
							<button type="button" ng-show="data==1" class="btn btn-block btn-lg btn-white font2">PAY BALANCE</button>
							<button type="button" ng-show="data==3" class="btn btn-block btn-lg btn-white font2">EMD: 5000</button>
						</div>
						<p class="hidden-xs text-center"><b>Date: 23.12.2016</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>