<!-- Profile-04.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-orders" ng-hide="loadingData" >
	<div class="orders-wrapper">
		<div class="container">
			<div class="row"  ng-hide="invoiceViewEnabled" infinite-scroll="loadMoreOrdersData()" infinite-scroll-distance="3">
				<div class="col-md-6 col-sm-6" ng-repeat="data in orders" ng-if="data.orderDetails && data.orderDetails.length > 0">
					<div class="card box-shadow">
						<div class="row">
							<div class="col-md-5 col-sm-5">
								<div class="img-wrapper">
									<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
								</div>
							</div>
							<div class="col-md-7 col-sm-7">
								<div class="info-wrapper">
									<h4>{{data.orderDetails[0].baseProductName}}</h4>
									<p class="price"><b>Rs. {{data.totalAmount}}</b></p>
									<p><b>Quantity: </b>{{data.orderDetails[0].quantity}}</p>
									<p><b>Order Status: </b>{{getOrderStatus(data.orderDetails[0].buyingOrderFulfilled, data.orderDetails[0].cancelBuyingOrder)}}</p>
									<p ng-show="data.transactionId"><b>Transaction Id: </b>#{{data.transactionId}}</p>
									<p ng-hide="true"><a class="cursor-pointer" ng-click="viewInvoice(data)">View Invoice</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="invoiceViewEnabled">
				<div class="col-md-12">
					<div class="all-button">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button type="button" class="btn btn-white" ng-click="viewAllOrders()"> <i class="fa fa-chevron-left"></i> All Orders</button>
							</div>
							<div class="col-md-6 text-right">
								<button type="button" class="btn btn-green" ng-click="printInvoice()"> <i class="fa fa-print"></i> Print</button>
								<button type="button" class="btn btn-green" ng-click="downloadInvoice()"> <i class="fa fa-download"></i> Download as PDF</button>
							</div>
						</div>
					</div>
					<div class="invoice-wrapper box-shadow">
						<div class="row">
							<div class="col-md-12">
								<div id="invoice-tables">
									<table border="0" width="100%">
										<tbody>
											<tr>
												<td>
													<img src="assets/imgs/planet-namo-logo.png" width="200px" class="img-responsive" alt="">
												</td>
												<td valign="bottom" align="right">
													<b>Invoice No. #1973970</b>
												</td>
											</tr>
										</tbody>
									</table>
									<table border="0" width="100%">
										<tbody>
											<tr>
												<td>
													<hr>
												</td>
											</tr>
										</tbody>
									</table> <!-- <hr> -->
									<table border="0" width="100%">
										<tbody>
											<tr>
												<td>
													<table class="table table-borderless" width="100%" border="0">
														<tbody>
															<tr>
																<td><b>Order Id:</b></td>
																<td>#{{invoiceSelectedOrder.frontEndOrderId}}</td>
															</tr>
															<tr>
																<td><b>Order Date:</b></td>
																<td>{{getFormattedDate(invoiceSelectedOrder.createdAt)}}</td>
															</tr>
															<tr>
																<td><b>Invoice Date:</b></td>
																<td>11 Feb, 2017</td>
															</tr>
															<tr>
																<td><b>VAT/TIN:</b></td>
																<td>6658974598</td>
															</tr>
															<tr>
																<td><b>Service Tax #:</b></td>
																<td>9633251258</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
									<table height="50px;"></table>
									<table class="table" width="100%">
										<thead>
											<tr>
												<th>Product Description</th>
												<th>Qty</th>
												<th>Price / Unit</th>
												<th>Total Price</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="product in invoiceSelectedOrder.orderDetails">
												<td style="padding-top:14px;" valign="top">{{product.baseProductName}}</td>
												<td style="padding-top:14px;" valign="top">{{product.quantity}}</td>
												<td style="padding-top:14px;" valign="top">{{product.perUnitPrice}}</td>
												<td style="padding-top:14px;" valign="top">{{(product.perUnitPrice)*(product.quantity)}}</td>
											</tr>
											<tr>
												<td style="padding-top:14px;" valign="top"></td>
												<td style="padding-top:14px;" valign="top"></td>
												<td style="padding-top:14px;" valign="top">Total Cost:</td>
												<td style="padding-top:14px;" valign="top">{{invoiceSelectedOrder.totalAmount}}</td>
											</tr>
										</tbody>
									</table>
									<table width="100%" style="margin-top:100px;">
										<tbody>
											<tr>
												<td style="background:#3bb549;color:#fff;padding:10px" align="center" valign="middle">
													Address Line 1, Address Line 2, City, Sate Or Something else
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pn-loading-spinner padding-bottom="200px" ng-show="loadingMoreData"></pn-loading-spinner>
		</div>
	</div>
</div>