<!-- Sell-02.psd -->

<div id="sell-product-step-1">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="icon {{selectedCategoryIcon}} inline-block va-middle"></div>
						<div class="text inline-block va-middle"><h1 class="font2 weight-bold text-color-1">SELL {{selectedCategory}}</h1></div>
						<hr class="custom">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="search-device-wrapper">
						<div class="row no-margin-row">
							<div class="col-md-9 col-sm-9 no-padding-grid">
								<input type="text" placeholder="Select your product" ng-model="selectedProduct" uib-typeahead="product as product.productName for product in products | filter:$viewValue | limitTo:8" class="form-control">
							</div>
							<div class="col-md-3 col-sm-3 no-padding-grid">
								<button type="button" ng-click="goToNextStep()" class="btn btn-block btn-color weight-bold">NEXT</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>