<!-- Buy-03.psd -->
<pn-loading-spinner padding-top="100px" padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="auction" ng-hide="loadingData">
	<div class="auction-wrapper">
		<div class="top-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12"><span class="breadcrumbs">Home > Auction > Details</span></div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="name-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h1 class="name">{{lot.lotDetails.lotName}} ({{(lot.lotItemDetails && lot.lotItemDetails.length > 0  && lot.lotItemDetails[0].productName) ? lot.lotItemDetails[0].productName : ''}})</h1>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="options-wrapper">
								<div class="pull-right">
									<div class="add-to-compare">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
												Add to Compare
											</label>
										</div>
									</div>
									<div class="favourite-icon">
										<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
										<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="images-wrapper">
								<div class="images-big">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
								<div class="images-thumb">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
							</div><!-- images wrapper -->
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="info-cards pay-emd" ng-hide="lot.userBids[0].emdPaid">
								<div class="detail-card">
									<div class="content">
										<!-- <div>
											<b class="text-color-2">ITEM NUMBER:</b> <span></span>
										</div>
										<div>
											<b class="text-color-2">LOCATION:</b> <span></span>
										</div> -->
										<div>
											<b class="text-color-2">AUCTION START DATE:</b> <span>{{lot.lotDetails.dateWindow.startDate}}</span>
										</div>
										<div>
											<b class="text-color-2">STARTING BID:</b> <span>Rs. {{lot.lotItemDetails[0].auctionMinDeposit}}</span>
										</div>
										<div>
											<b class="text-color-2">AUCTION EMD:</b> <span>Rs. {{lot.lotItemDetails[0].perItemEmd}}</span>
										</div>
									</div>
								</div><!-- detail card -->
								<pn-loading-spinner ng-show="paymentLoading"></pn-loading-spinner>
								<div class="auction-card" ng-hide="paymentLoading">
									<div class="top-bar pn-gradient">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<h3 class="font2 weight-bold va-middle">STARTING BID</h3>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6 text-right">
												<h3 class="font2 weight-bold va-middle">Rs. {{lot.lotItemDetails[0].auctionMinDeposit}}</h3>
											</div>
										</div>
									</div>
									<div class="content">
										<div class="row text-center">
											<div class="col-md-12">
												<h4 class="font2 text-color-2 weight-bold">START DATE</h4>
											</div>
											<div class="col-md-12">
												<div class="start-date-wrapper">
													<span>{{lot.startDate}}</span>
												</div>
												<div class="start-time-wrapper">
													<span class="text-color-2">{{lot.startTime}}</span>
												</div>
											</div>
										</div>
									</div>
									<button ng-click="payEMD()" class="btn btn-color btn-lg btn-block weight-bold font2">Pay EMD</button>
								</div> <!-- auction card -->
							</div> <!-- info cards pay-emd -->

							<div class="info-cards bid" ng-show="lot.userBids[0].emdPaid">
								<div class="detail-card">
									<div class="content">
										<!-- div>
											<b class="text-color-2">ITEM NUMBER:</b> <span></span>
										</div>
										<div>
											<b class="text-color-2">LOCATION:</b> <span></span>
										</div> -->
										<div>
											<b class="text-color-2">AUCTION START DATE:</b> <span>{{lot.lotDetails.dateWindow.startDate}}</span>
										</div>
										<div>
											<b class="text-color-2">STARTING BID:</b> <span>Rs. {{lot.lotItemDetails[0].auctionMinDeposit}}</span>
										</div>
										<div>
											<b class="text-color-2">MIN BID INCREMENT:</b><span>{{(lot.lotDetails.bidIncreaseDetails && lot.lotDetails.bidIncreaseDetails.type == 'percentage') ? lot.lotDetails.bidIncreaseDetails.value + '% of highest bid' : lot.lotDetails.bidIncreaseDetails.value + 'on top of highest bid'}}</span>
										</div>
									</div>
								</div><!-- detail card -->
								<div class="auction-card">
									<div class="top-bar pn-gradient">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<h3 class="font2 weight-bold va-middle">LAST BID</h3>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6 text-right">
												<h3 class="font2 weight-bold va-middle">Rs. {{(lot.HighestLotBids && lot.HighestLotBids.length > 0 && lot.HighestLotBids[0].bidAmount) ? lot.HighestLotBids[0].bidAmount : lot.lotItemDetails[0].auctionMinDeposit}}</h3>
											</div>
										</div>
									</div>
									<div class="content">
										<div class="row text-center">
											<div class="col-md-12">
												<h4 class="font2 text-color-2 weight-bold">TIME LEFT</h4>
											</div>
											<div class="col-md-12">
												<div ng-if="lot.lotDetails && lot.lotDetails.auctionTimeLeftInMS" class="start-date-wrapper flipclock">
													<div id="countdown-time-{{lot.lotDetails.lotId}}" class="countdown-timer"></div>
												</div>
												<div ng-if="lot.daysLeft" class="start-date-wrapper">
													<span>{{lot.daysLeft}} Days</span>
												</div>
												<div ng-if="!lot.daysLeft && (!lot.lotDetails || !lot.lotDetails.auctionTimeLeftInMS)" class="start-date-wrapper">
													<span>N/A</span>
												</div>
												<!-- <div class="start-time-wrapper">
													<span class="text-color-2">12:00 PM</span>
												</div> -->
											</div>
											<div class="col-md-12">
												<div class="bid-now-wrapper">
													<h4 class="font2 text-color-2 weight-bold">ENTER BID</h4>
													<form class="form-inline">
														<div class="row no-margin-row">
															<div class="col-md-1 col-sm-2 col-xs-2 no-padding-grid">
																<button ng-click="plusClicked()" type="button" class="btn btn-block btn-lg btn-white font2">+</button>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
																<input ng-model="lot.placeBidAmount" class="input-lg form-control" type="text">
															</div>
															<div class="col-md-1 col-sm-2 col-xs-2 no-padding-grid">
																<button ng-click="minusClicked()" type="button" class="btn btn-block btn-lg btn-white font2">-</button>
															</div>
															<div class="col-md-4 col-sm-2 col-xs-2 no-padding-grid">
																<button ng-hide="lot.loadingBidPlace" class="btn btn-color font2 weight-bold" ng-click="submitBid()">SUBMIT</button>
																<pn-loading-spinner style="width: 100%;" class="noPaddingSpinnerLoader" ng-show="lot.loadingBidPlace"></pn-loading-spinner>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div class="col-md-12">
												<h4 class="font2 text-color-2 weight-bold inline-block va-middle">YOUR LAST BID: </h4>
												<h4 class="font2 text-color-2 inline-block va-middle"> Rs. {{(lot.userBids[0].bidAmount) ? lot.userBids[0].bidAmount : 'N/A'}}</h4>
											</div>
										</div>
									</div>
								</div> <!-- auction card -->
							</div> <!-- info cards bid-->
						</div>
					</div>
				</div>
			</div> <!-- detail wrapper -->

			<div class="detailed-info">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-wrapper">
								<div class="tabs-wrapper">
									<ul class="list-inline flex-inline">
										<li ng-repeat="data in navTabs" on-finish-render="ngRepeatFinished">
											<div class="text-center">
												<p ng-class="activeTabs[data.name]" ng-click="goToTab(data.name)">
													<span class="va-middle font2 weight-bold">{{data.name}}</span>
												</p>
											</div>
										</li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div> <!-- nav wrapper -->
							<div class="content-area">
								<div ng-show="activeTabs['LOT DETAILS'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['SPECIFICATIONS'] == 'active'">
									<p ng-hide="lot.lotItemDetails[0].specifications.length">Not enough data available.</p>
									<p ng-show="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications">
										<strong>{{spec.displayName}}: </strong>
										<span>{{spec.specificationValue}}</span>
									</p>
								</div>
								<div ng-show="activeTabs['FEATURES'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['WARRANTY'] == 'active'">
									<p ng-show="lot.lotItemDetails[0].warranty_n_support">{{lot.lotItemDetails[0].warranty_n_support}}</p>
									<p ng-hide="lot.lotItemDetails[0].warranty_n_support">Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['T&Cs'] == 'active'">
									<p ng-show="lot.lotDetails.lotTermsAndConditions">{{lot.lotDetails.lotTermsAndConditions}}</p>
									<p ng-hide="lot.lotDetails.lotTermsAndConditions">Not enough data available.</p>
								</div>
							</div> <!-- content area -->
						</div>
					</div>
				</div>
			</div> <!-- Detailed info -->
		</div>
	</div>
</div>
</div>