<!-- Buy-09.psd -->

<div id="pay-emd-page">
	<div class="pay-emd-wrapper">
		<div class="top-text">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>The EMD amount is refundable and the entire amount will appear in your wallet if the auction is lost</p>
					</div>
				</div>
			</div>
		</div>
		<div class="info-cards">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="detail-card">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<img src="assets/imgs/image-placeholder-square.png" class="img-responsive" alt="">
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="wrapper text-color-2">
										<h4 class="font2 text-color-2 weight-bold">HP Pavillion 13"</h4>
										<div>
											<div class="inline-block">
												<b>EMD Amount:</b> <span>Rs. 5000</span>
											</div>
										</div>
										<div>
											<div class="inline-block">
												<b>Colour: </b> <span>Black</span>
											</div>
											<div class="inline-block">
												<b>Other Specs: </b> <span>Dolor sit amet, Consectetur</span>
											</div>
										</div>
										<div>
											<div class="inline-block">
												<b>Other Specs: </b> <span>Dolor sit amet, Consectetur</span>
											</div>
											<div class="inline-block">
												<b>Qty:</b> <span>1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="back-to-auction">
							<hr class="custom">
							<a class="font2 text-color-2 weight-bold cursor-pointer">Back to Auction</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="pay-emd-card text-color-2">
							<h4 class="weight-bold font2 text-color-2">PAY EMD</h4>
							<div>
								<b>Total: </b><span>Rs. xxxx</span>
							</div>
							<div>
								<b>Wallet Balance: </b><span>Rs. xxxx</span>
							</div>
							<div>
								<b>Due Balance: </b><span>Rs. xxxx</span>
							</div>
						</div>
						<button class="btn btn-color btn-lg btn-block weight-bold font2">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>