<!-- Profile-Artboard-13.psd -->

<!-- ui view for auction hall -->

<div id="me-auction-hall-page">
	<div class="auction-hall-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="auction-hall-nav-tabs">
						<ul class="list-inline">
							<li><a class="cursor-pointer" ng-class="auctionHallActiveClass['live']" ui-sref="me.auctionHall.live">Live Auctions</a></li>
							<li><a class="cursor-pointer" ng-class="auctionHallActiveClass['expired']" ui-sref="me.auctionHall.expired">Expired Auctions</a></li>
							<li><a class="cursor-pointer" ng-class="auctionHallActiveClass['won']" ui-sref="me.auctionHall.won">Auctions Won</a></li>
							<!-- <li><a class="cursor-pointer" ng-class="auctionHallActiveClass['archive']" ui-sref="me.auctionHall.archive">Archive</a></li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ui-view></div> <!-- sub view loader -->
				</div>
			</div>
		</div>
	</div>
</div>