<div id="forgot-password-page">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="logo-wrapper">
						<img class="img-responsive" src="assets/imgs/planet-namo-logo.png" alt="">
					</div>
					<div class="card">
						<form>
							<div class="form-group">
								<label for="exampleInputPassword1" class="text-color-2">Password</label>
								<input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword2" class="text-color-2">Retype Password</label>
								<input type="password" ng-model="retypePassword" class="form-control" id="exampleInputPassword2" placeholder="Retype Password">
							</div>
							<button ng-hide="showLoading" ng-click="resetPassword()" type="submit" class="btn btn-color btn-block btn-lg">Reset</button>
							<pn-loading-spinner ng-show="showLoading" padding-top="10px" padding-bottom="10px"></pn-loading-spinner>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>