<div id="home-page">
	<div class="home-header">
		<div class="hero-image-gallery">
			<div class="crossfade">
				<figure ui-sref="about"></figure>
				<figure ui-sref="about"></figure>
				<figure ui-sref="about"></figure>
				<figure ui-sref="about"></figure>
				<figure ui-sref="about"></figure>
				<figure ui-sref="about"></figure>
			</div>
		</div>
	</div>
	<div class="offers-banner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 no-padding-grid">
					<img ui-sref="buy" class="img-responsive" src="assets/imgs/banners/banner-offer-1.jpg" alt="">
				</div>
				<div class="col-md-6 col-sm-6 no-padding-grid">
					<img ui-sref="buy" class="img-responsive" src="assets/imgs/banners/banner-offer-2.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="scroll-down-icon-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icon text-center">
						<div class="scroll-icon cursor-pointer" ng-click="animateToTop('info-blocks-wrapper')"></div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="info-blocks-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="info-card cursor-pointer" ng-click="goToBuy('auction')">
						<div class="img-area">
							<div class="img-placeholder-square first"></div>
						</div>
						<div class="gradient-bar pn-gradient"></div>
						<div class="heading-area">
							<h3 class="font2 text-color-1">AUCTION HALL</h3>
						</div>
						<div class="text-area">
							<p class="text-color-2">Buy at the Best Price through online Auction. Check out are Auction Lots and Paarticipate to Win.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="info-card cursor-pointer" ng-click="goToBuy('clearance')">
						<div class="img-area">
							<div class="img-placeholder-square second"></div>
						</div>
						<div class="gradient-bar pn-gradient"></div>
						<div class="heading-area">
							<h3 class="font2 text-color-1">CLEARANCE STOCK</h3>
						</div>
						<div class="text-area">
							<p class="text-color-2">Limited Quntites at unbelivable prices, Buy the last we have got !</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="info-card cursor-pointer" ng-click="goToBuy('buy')">
						<div class="img-area">
							<div class="img-placeholder-square third"></div>
						</div>
						<div class="gradient-bar pn-gradient"></div>
						<div class="heading-area">
							<h3 class="font2 text-color-1">AGGREGATE</h3>
						</div>
						<div class="text-area">
							<p class="text-color-2">Buy the Quntity that suits your pocket at the price of Bulk Buyers, Planet Namo Breaks the </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<button ui-sref="buy" class="btn btn-color btn-lg buy-now-btn">BUY NOW</button>
				</div>
			</div>
		</div>
	</div>
	<div class="category-blocks-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-heading">
						<h3 class="font2 text-color-1">BUY, SELL, RENT</h3>
						<hr class="custom">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="category-card cursor-pointer" ng-click="goToBuy('buy')">
						<div class="img-area center-block">
							<div class="img-placeholder-square mobile"></div>
						</div>
						<div class="text-area text-center">
							<p class="text-color-2">Mobile Phones & Tablets</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="category-card cursor-pointer" ng-click="goToBuy('buy')">
						<div class="img-area center-block">
							<div class="img-placeholder-square desktop"></div>
						</div>
						<div class="text-area text-center">
							<p class="text-color-2">Laptops & Computers</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="category-card cursor-pointer" ng-click="goToBuy('buy')">
						<div class="img-area center-block">
							<div class="img-placeholder-square home-appliances"></div>
						</div>
						<div class="text-area text-center">
							<p class="text-color-2">Appliances</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- space for slider content -->
	<div class="hot-selling-wrapper" ng-show="hotSellingProducts.length">
		<div class="container">
			<pn-loading-spinner ng-show="hotSellingProductsLoading"></pn-loading-spinner>
			<div class="row" ng-hide="hotSellingProductsLoading">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h3 class="font2 text-color-1 weight-bold">HOT SELLING PRODUCTS</h3>
						</div>
						<div class="col-md-2 col-sm-2 hidden-xs">
							<div class="slide-icons text-right">
								<i ng-click="slickPrev('hot-selling-carousel')" class="fa fa-angle-left fa-3x"></i>
								<i ng-click="slickNext('hot-selling-carousel')" class="fa fa-angle-right fa-3x"></i>
							</div>
						</div>
					</div>
					<hr class="custom">
					<div class="carousel-wrapper hot-selling-carousel">
						<div ng-repeat="lot in hotSellingProducts">
							<div class="outer">
								<div class="card-wrapper">
									<div class="top-bar">
										<div class="add-to-compare pull-left">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
													Add to Compare
												</label>
											</div>
										</div>
										<div class="favourite-icon pull-right">
											<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
											<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="card">
										<div class="image-wrapper pn-gradient">
											<div class="product-image" style="background-image:url('{{lot.lotDetails.lotImageURL}}')"></div>
											<div class="offer-text hide">
												<span>60% OFF</span>
											</div>
										</div> <!-- image wrapper -->
										<div class="info-wrapper">
											<div class="name">
												<h3>{{lot.lotDetails.lotName}}</h3>
											</div>
											<div class="specs hide">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Model:</b> #914770
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>TSIN:</b> #T2B710PLK
													</div>
												</div>
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Part No.:</b> BR-13
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Series:</b> Bravo
													</div>
												</div>
											</div>
											<div class="available-qty hide">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span>Available Qty:</span>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="font2 text-color-3 weight-bold">1000 pcs</span>
													</div>
												</div>
											</div>
											<div class="sold-qty hide">
												<div class="row no-margin-row">
													<div class="col-md-6 no-padding-grid">
														<span>Sold Qty:</span>
													</div>
													<div class="col-md-6 no-padding-grid">
														<div class="progress-wrapper">
															<div class="progress">
																<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="2500" style="width: {{(500/2400)*100}}%;">
																	500
																</div>
															</div>
															<div class="range-values">
																<span class="min pull-left">0</span>
																<span class="max pull-right">2500</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="price">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="line-through text-color-1">Rs. XXXXX</span>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="font2 text-color-3 weight-bold">Rs. {{lot.lotItemDetails[0].perItemPrice * lot.lotItemDetails[0].quantityAvailable}}</span>
													</div>
												</div>
											</div>
											<div class="stars">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Rating</b>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>

											</div>
										</div> <!-- info wrapper -->
									</div>
									<div class="buy-btn">
										<button ui-sref="details.detailsDirectBuy({id: lot.lotDetails.lotId})" class="btn btn-lg btn-block btn-color font2 weight-bold">Buy Now</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="new-added-wrapper" ng-show="newAddedProducts.length">
		<div class="container">
			<pn-loading-spinner ng-show="newAddedProductsLoading"></pn-loading-spinner>
			<div class="row" ng-hide="newAddedProductsLoading">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h3 class="font2 text-color-1 weight-bold">NEW ADDED PRODUCTS</h3>
						</div>
						<div class="col-md-2 col-sm-2 hidden-xs">
							<div class="slide-icons text-right">
								<i ng-click="slickPrev('new-added-carousel')" class="fa fa-angle-left fa-3x"></i>
								<i ng-click="slickNext('new-added-carousel')" class="fa fa-angle-right fa-3x"></i>
							</div>
						</div>
					</div>
					<hr class="custom">
					<div class="carousel-wrapper new-added-carousel">
						<div ng-repeat="lot in newAddedProducts">
							<div class="outer">
								<div class="card-wrapper">
									<div class="top-bar">
										<div class="add-to-compare pull-left">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
													Add to Compare
												</label>
											</div>
										</div>
										<div class="favourite-icon pull-right">
											<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
											<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="card">
										<div class="image-wrapper pn-gradient">
											<div class="product-image" style="background-image:url('{{lot.lotDetails.lotImageURL}}')"></div>
											<div class="offer-text hide">
												<span>60% OFF</span>
											</div>
										</div> <!-- image wrapper -->
										<div class="info-wrapper">
											<div class="name">
												<h3>{{lot.lotDetails.lotName}}</h3>
											</div>
											<div class="specs hide">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Model:</b> #914770
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>TSIN:</b> #T2B710PLK
													</div>
												</div>
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Part No.:</b> BR-13
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Series:</b> Bravo
													</div>
												</div>
											</div>
											<div class="available-qty hide">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span>Available Qty:</span>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="font2 text-color-3 weight-bold">1000 pcs</span>
													</div>
												</div>
											</div>
											<div class="sold-qty hide">
												<div class="row no-margin-row">
													<div class="col-md-6 no-padding-grid">
														<span>Sold Qty:</span>
													</div>
													<div class="col-md-6 no-padding-grid">
														<div class="progress-wrapper">
															<div class="progress">
																<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="2500" style="width: {{(500/2400)*100}}%;">
																	500
																</div>
															</div>
															<div class="range-values">
																<span class="min pull-left">0</span>
																<span class="max pull-right">2500</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="price">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="line-through text-color-1">Rs. XXXXX</span>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<span class="font2 text-color-3 weight-bold">Rs. {{lot.lotItemDetails[0].perItemPrice * lot.lotItemDetails[0].quantityAvailable}}</span>
													</div>
												</div>
											</div>
											<div class="stars">
												<div class="row no-margin-row">
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<b>Rating</b>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												
											</div>
										</div> <!-- info wrapper -->
									</div>
									<div class="buy-btn">
										<button ui-sref="details.detailsDirectBuy({id: lot.lotDetails.lotId})" class="btn btn-lg btn-block btn-color font2 weight-bold">Buy Now</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="stats-blocks-wrapper">
		<div class="background pn-gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="stats-card">
							<div class="img-area center-block">
								<div class="img-placeholder two"></div>
							</div>
							<div class="heading-area">
								<h3 class="font2">18765</h3>
							</div>
							<div class="text-area">
								<p>Laptops</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="stats-card">
							<div class="img-area center-block">
								<div class="img-placeholder two"></div>
							</div>
							<div class="heading-area">
								<h3 class="font2">8568</h3>
							</div>
							<div class="text-area">
								<p>Mobiles</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="stats-card">
							<div class="img-area center-block">
								<div class="img-placeholder two"></div>
							</div>
							<div class="heading-area">
								<h3 class="font2">38460</h3>
							</div>
							<div class="text-area">
								<p>Home Appliances</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="stats-card">
							<div class="img-area center-block">
								<div class="img-placeholder two"></div>
							</div>
							<div class="heading-area">
								<h3 class="font2">2150520</h3>
							</div>
							<div class="text-area">
								<p>KG E-Waste</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="planet-bg-wrapper">
		<div class="background">
			<p class="font2">The Planet is Yours!</p>
		</div>
	</div>

	<div class="testimonials-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h3 class="font2 text-color-1 weight-bold">WHAT PEOPLE HAVE TO SAY</h3>
						</div>
						<div class="col-md-2 col-sm-2 hidden-xs">
							<div class="slide-icons text-right">
								<i ng-click="slickPrev('testimonial-carousel')" class="fa fa-angle-left fa-3x"></i>
								<i ng-click="slickNext('testimonial-carousel')" class="fa fa-angle-right fa-3x"></i>
							</div>
						</div>
					</div>
					<hr class="custom">
					<div class="carousel-wrapper testimonial-carousel">
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/testimonials/ujjwalkumar.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>UJJWAL KUMAR</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>I bought second hand Dell i5 laptop but honestly I never felt that I am using an old laptop.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/testimonials/sunny.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>SUNNY</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>I never thought that refurbished items will be as good as new.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/testimonials/satishchauhan.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>SATISH CHAUHAN</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>Amazing Experience of buying refurbished item from Planet Namo.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/testimonials/hariprasad.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>HARI PRASAD</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>Excellent Service and good product.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/testimonials/samyakchordia.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>SAMAYAK CHORDIA</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>Perfect condition and excellent quality product.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="outer">
							<div class="card box-shadow">
								<div class="text-card">
									<div class="user-info">
										<div class="img-wrapper inline-block va-middle">
											<img src="assets/imgs/image-placeholder-square.png" class="img-circle" width="100px;" height="100px" alt="">
										</div>
										<div class="info inline-block va-middle">
											<h4>SANYAM JAIN</h4>
											<!-- <p>New Delhi</p> -->
										</div>
									</div>
									<div class="text">
										<p>High quality second hand product as good as new.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- <div id="a">
	<div class="wrapper">
		<div class="ribbon">
			CSS Ribbon
			<i></i>
		</div>
	</div>
</div> -->