/* #sell-product-page is the id of parent ui */

#sell-product-page #sell-product-step-7{
	padding-top: 40px;
	padding-bottom: 100px;
}

#sell-product-page #sell-product-step-7 .top-bar{
	padding-top: 20px;
}

#sell-product-page #sell-product-step-7 .top-bar .progress-icon-wrapper p{
	font-size: 12px;
}

#sell-product-page #sell-product-step-7 .top-bar h1{
	margin: 0;
	font-size: 26px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper{
	padding: 14px 0;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper > div{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	padding: 14px;
}


#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper,
#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card{
	margin-top: 20px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card{
	padding: 14px;
	border-left: 2px solid #eee;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card p.info-text{
	font-size: 13px;
	padding-bottom: 10px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card .checklist{
	border: 1px solid #ccc;
	padding: 10px 14px;
	margin-bottom: 14px;
	-webkit-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card .checklist:hover{
	background: #eee;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card .checklist.active{
	background-color: #3bb549;
	color: #fff !important;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card .checklist h4{
	font-size: 16px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card .checklist .list p{
	padding-right: 22px;
}


#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card button.btn-next{
	margin-top: 30px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .price-wrapper p{
	padding-top: 6px;
	font-size: 16px;	
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .price-wrapper h3{
	margin-top: 4px;	
}


/* for extra small screen only*/
@media (max-width: 767px){
	#sell-product-page #sell-product-step-7{
		padding-bottom: 80px;
	}

	#sell-product-page #sell-product-step-7 .top-bar h1{
		font-size: 22px;
	}

	#sell-product-page #sell-product-step-7 .top-bar{
		padding-top: 0px;
	}

	#sell-product-page #sell-product-step-7 .product-info-wrapper .user-input-card{
		border-left: none;
		padding: 0;
	}
}


/** icons css for sprite image */

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: 400px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.mobile{
	background-position: 0 0;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.desktop{
	background-position: -100px 0;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.tv{
	background-position: -200px 0;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.tablet{
	background-position: -300px 0;
}


#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.i-mac{
	background-position: 0 -100px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.laptop{
	background-position: -100px -100px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.gaming-console{
	background-position: -200px -100px;
}

#sell-product-page #sell-product-step-7 .product-info-wrapper .estimated-price-wrapper .icon.home-appliances{
	background-position: -300px -100px;
}

/* icons css for sprite image */