/* #sell-product-page is the id of parent ui */

#sell-product-page #sell-product-step-8{
	padding-top: 40px;
	padding-bottom: 100px;
}

#sell-product-page #sell-product-step-8 .top-bar{
	padding-top: 20px;
}

#sell-product-page #sell-product-step-8 .top-bar .progress-icon-wrapper p{
	font-size: 12px;
}

#sell-product-page #sell-product-step-8 .top-bar h1{
	margin: 0;
	font-size: 26px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper > div{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	padding: 14px;
}


#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper,
#sell-product-page #sell-product-step-8 .product-info-wrapper .product-image-card{
	margin-top: 20px;
	padding: 14px 0;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .user-input-card p.info-text{
	font-size: 13px;
	padding-bottom: 10px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .btn-schedule{
	margin-top: 10px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .report-options-wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .report-options-wrapper a{
	color: #999;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .report-options-wrapper a:hover{
	color: #444;
	cursor: pointer;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .congrats-text-wrapper{
	padding-top: 30px;
	padding-bottom: 20px;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .card-wrapper{
	padding: 14px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .card-wrapper:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .card-wrapper.active{
	background-color: #3bb549;
    color: #fff;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .add-new-address-btn{
	padding-bottom: 10px;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .form-control{
	margin-bottom: 14px;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-datepicker .form-control,
#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-timepicker .form-control{
	margin-bottom: 0 !important;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-datepicker{
	/*padding-top: 10px;*/
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-datepicker .input-group-btn{
	border: 1px solid #ddd !important;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-timepicker .uib-time.am-pm button{
	border: 1px solid #ddd !important;
	margin-left: 4px;
}

#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-datepicker .uib-daypicker:focus,
#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-timepicker .btn-link:focus{
	outline: none;
}


/* for extra small screen only*/
@media (max-width: 767px){
	#sell-product-page #sell-product-step-8{
		padding-bottom: 80px;
	}

	#sell-product-page #sell-product-step-8 .top-bar h1{
		font-size: 22px;
	}

	#sell-product-page #sell-product-step-8 .top-bar{
		padding-top: 0px;
	}

	#sell-product-page #sell-product-step-8 .product-info-wrapper .report-options-wrapper{
		padding-top: 20px;
		text-align: center;
	}

	#sell-product-page #sell-product-step-8 .product-info-wrapper .report-options-wrapper > .row > .text-right{
		padding-top: 12px;
		text-align: center;
	}
	#sell-product-page #sell-product-step-8 .schedule-pickup-modal .class-datepicker{
		padding-top: 0px;
	}
}


/** icons css for sprite image */

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: 400px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.mobile{
	background-position: 0 0;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.desktop{
	background-position: -100px 0;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.tv{
	background-position: -200px 0;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.tablet{
	background-position: -300px 0;
}


#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.i-mac{
	background-position: 0 -100px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.laptop{
	background-position: -100px -100px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.gaming-console{
	background-position: -200px -100px;
}

#sell-product-page #sell-product-step-8 .product-info-wrapper .estimated-price-wrapper .icon.home-appliances{
	background-position: -300px -100px;
}

/* icons css for sprite image */