#sell-page .hero-image-gallery{
	position: relative;
	min-height: 440px;
}

#sell-page .hero-image-gallery .btn-wrapper{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 26px;
	width: 100%;
}

#sell-page .hero-image-gallery .btn-wrapper button{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff !important;
	letter-spacing: 1px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#sell-page .hero-image-gallery .btn-wrapper button:hover{
	background-color: #fff;
	color: #888;
	border-color: #888;
}

#sell-page .categories-wrapper{
	padding-top: 30px;
	padding-bottom: 50px;
}

#sell-page .categories-wrapper h3{
	padding-bottom: 30px;
}

#sell-page .categories-wrapper .category-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	margin-bottom: 20px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#sell-page .categories-wrapper .category-card:hover{
	-webkit-box-shadow: 3px 3px 7px #aaa;
	box-shadow: 3px 3px 7px #aaa;
	cursor: pointer;
}

#sell-page .categories-wrapper .category-card:hover p{
	color: #666;
}

/* icons css for sprite image */

#sell-page .categories-wrapper .category-card .icon{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: 600px;
}

#sell-page .categories-wrapper .category-card .icon.mobile{
	background-position: 0 0;
}

#sell-page .categories-wrapper .category-card .icon.desktop{
	background-position: -150px 0;
}

#sell-page .categories-wrapper .category-card .icon.tv{
	background-position: -300px 0;
}

#sell-page .categories-wrapper .category-card .icon.tablet{
	background-position: -450px 0;
}

#sell-page .categories-wrapper .category-card .icon.i-mac{
	background-position: 0 -150px;
}

#sell-page .categories-wrapper .category-card .icon.laptop{
	background-position: -150px -150px;
}

#sell-page .categories-wrapper .category-card .icon.gaming-console{
	background-position: -300px -150px;
}

#sell-page .categories-wrapper .category-card .icon.home-appliances{
	background-position: -450px -150px;
}

/* icons css for sprite image */

#sell-page .categories-wrapper .category-card p{
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #888;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){
	#sell-page .categories-wrapper .category-card {
		padding: 8px 6px;
	}

	/* icons css for sprite image */

	#sell-page .categories-wrapper .category-card .icon{
		width: 100px;
		height: 100px;
		background-size: 400px;
	}

	#sell-page .categories-wrapper .category-card .icon.mobile{
		background-position: 0 0;
	}

	#sell-page .categories-wrapper .category-card .icon.desktop{
		background-position: -100px 0;
	}

	#sell-page .categories-wrapper .category-card .icon.tv{
		background-position: -200px 0;
	}

	#sell-page .categories-wrapper .category-card .icon.tablet{
		background-position: -300px 0;
	}

	#sell-page .categories-wrapper .category-card .icon.i-mac{
		background-position: 0 -100px;
	}

	#sell-page .categories-wrapper .category-card .icon.laptop{
		background-position: -100px -100px;
	}

	#sell-page .categories-wrapper .category-card .icon.gaming-console{
		background-position: -200px -100px;
	}

	#sell-page .categories-wrapper .category-card .icon.home-appliances{
		background-position: -300px -100px;
	}

	/* icons css for sprite image */

	#sell-page .categories-wrapper .category-card p{
		font-size: 12px;
		color: #888;
	}
}