/* #sell-product-page is the id of parent ui */

#sell-product-page #sell-product-step-9{
	padding-top: 40px;
	padding-bottom: 100px;
}

#sell-product-page #sell-product-step-9 .message-wrapper h4,
#sell-product-page #sell-product-step-9 .message-wrapper p{
	padding-top: 10px;
}

#sell-product-page #sell-product-step-9 .message-wrapper button{
	margin-top: 20px;
	margin-bottom: 20px;
}

#sell-product-page #sell-product-step-9 .invoice-options-wrapper{
	padding-top: 14px;
	padding-bottom: 20px;
}

#sell-product-page #sell-product-step-9 .invoice-options-wrapper a{
	color: #999;
}

#sell-product-page #sell-product-step-9 .invoice-options-wrapper a:hover{
	color: #444;
	cursor: pointer;
}

#sell-product-page #sell-product-step-9 .product-wrapper{
	padding-top: 20px;
}

/* for extra small screen only*/
@media (max-width: 767px){
	#sell-product-page #sell-product-step-9 .invoice-options-wrapper > .row > .col-md-4{
		padding-bottom: 20px;
	}
	#sell-product-page #sell-product-step-9 .product-wrapper h4{
	padding-top: 14px;
}
}