/* #sell-product-page is the id of parent ui */

#sell-product-page #sell-product-step-1{
	padding-top: 40px;
	padding-bottom: 40px;
}

#sell-product-page #sell-product-step-1 > .wrapper{
	min-height: 440px;
}

#sell-product-page #sell-product-step-1 .top-bar{
	padding-top: 20px;
	padding-bottom: 20px;
}

#sell-product-page #sell-product-step-1 .top-bar h1{
	margin: 0;
	font-size: 28px;
}

#sell-product-page #sell-product-step-1 .search-device-wrapper button{
	padding: 7px 12px;
}

#sell-product-page #sell-product-step-1 .search-device-wrapper ul[uib-typeahead-popup].dropdown-menu{
	width: 100%;
}

/* for extra small screen only*/
@media (max-width: 767px){
	#sell-product-page #sell-product-step-1 .top-bar .inline-block{
		display: block;
	}

	#sell-product-page #sell-product-step-1 .top-bar h1{
		margin: 0;
		font-size: 24px;
	}

	#sell-product-page #sell-product-step-1 .top-bar .text{
		text-align: center;
	}

	#sell-product-page #sell-product-step-1 .search-device-wrapper button{
		margin-top: 10px;
	}
}


/** icons css for sprite image */

#sell-product-page #sell-product-step-1 .top-bar .icon{
	width: 75px;
	height: 75px;
	margin: 0 auto;
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: 300px;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.mobile{
	background-position: 0 0;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.desktop{
	background-position: -75px 0;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.tv{
	background-position: -150px 0;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.tablet{
	background-position: -225px 0;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.i-mac{
	background-position: 0 -75px;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.laptop{
	background-position: -75px -75px;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.gaming-console{
	background-position: -150px -75px;
}

#sell-product-page #sell-product-step-1 .top-bar .icon.home-appliances{
	background-position: -225px -75px;
}

/* icons css for sprite image */