/* #sell-product-page is the id of parent ui */

#sell-product-page #sell-product-step-2{
	padding-top: 40px;
	padding-bottom: 100px;
}

#sell-product-page #sell-product-step-2 .top-bar{
	padding-top: 20px;
}

#sell-product-page #sell-product-step-2 .top-bar h1{
	margin: 0;
	font-size: 26px;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .product-image-wrapper,
#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card{
	margin-top: 20px;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .top-bar{
	padding: 10px 14px;
	color: #fff;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .top-bar p{
	font-size: 18px;
	margin: 0;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .top-bar h3{
	margin: 0;
	text-align: right;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .content{
	padding: 14px;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .content .specs-wrapper{
	padding-top: 14px;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .content .specs-wrapper ul li{
	padding-top: 4px;
	padding-bottom: 4px;
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .content .specs-wrapper ul li > i{
	color: #8ebc2d;
	margin-right: 4px;	
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .location-wrapper{
	padding-top: 14px;
	padding-bottom: 14px;	
}

#sell-product-page #sell-product-step-2 .product-info-wrapper .location-wrapper input{
	height: 40px;
	padding: 8px 14px;
	font-size: 16px;	
}


/* for extra small screen only*/
@media (max-width: 767px){
	#sell-product-page #sell-product-step-2{
		padding-top: 40px;
		padding-bottom: 80px;
	}

	#sell-product-page #sell-product-step-2 .top-bar h1{
		font-size: 22px;
	}

	#sell-product-page #sell-product-step-2 .product-info-wrapper .info-card .top-bar h3{
		padding-top: 6px;
		text-align: left;
	}

	#sell-product-page #sell-product-step-2 .top-bar{
		padding-top: 0px;
	}
}
