/* seed icons sprite image */

#sell-product-page .seed-icon{
	width: 220px;
	height: 46px;
	margin-bottom: 10px;
	background-image: url('../../imgs/icons/icons-seed.png');
	background-size: 220px;
}

#sell-product-page{
	background-image: url('../../imgs/background-pattern.jpg');
}

#sell-product-page .seed-icon.step2{
	background-position: 0 -47px;
}

#sell-product-page .seed-icon.step3{
	background-position: 0 -94px;
}

#sell-product-page .seed-icon.step4{
	background-position: 0 -140px;
}

#sell-product-page .seed-icon.step5{
	background-position: 0 -187px;
}

/* seed icons sprite image */