<div id="about-page">
	<div class="about-header">
		<!-- <div class="hero-image-gallery">
			<div class="crossfade">
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
				<figure></figure>
			</div>
			<div class="btn-wrapper text-center">
				<button class="btn font2 weight-bold btn-lg btn-start-selling">START SELLING</button>
			</div>
		</div> -->
		<h3 class="weight-bold text-center font2">WE'RE HERE TO SAVE THE PLANET!</h3>
	</div>
	<div class="scroll-down-icon-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icon text-center">
						<div class="scroll-icon cursor-pointer" ng-click="animateToTop('content-wrapper')"></div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="intro-text">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<h2 class="font2 weight-bold text-color-1 no-margin-top">Welcome to Planet Namo – An electronics store with a difference.</h2>
							</div>
							<div class="col-md-6 col-sm-6">
								<p class="text-color-2">
									Planet Namo is committed to promoting environmental sustainability by giving you, our customer, an easy way to reduce your carbon footprint. At Planet Namo, you can buy, sell and rent a variety of used electronic gadgets and appliances, thereby extending the lifecycle of these products and bringing you monetary and environmental gains.
								</p>
							</div>
						</div>
					</div>
					<div class="what-we-do">
						<div class="row">
							<div class="col-md-12">
								<div class="block-heading">
									<h3 class="font2 weight-bold text-color-1 text-center">WHAT WE DO</h3>
									<div class="underline pn-gradient center-block"></div>
								</div>
							</div>
							<div class="col-md-12">
								<p>Have a laptop or a smart phone that you no longer use? Or perhaps you’re in the market for a new electronic gadget or appliance and want the best value for your money? In either case, Planet Namo has you covered.<br><br>Our innovative retail format lets you browse through an assortment of refurbished electronics appliances and gadgets, in keeping with your requirements. We also buy your disused hardware – in any condition – for cash, or in exchange for any of the products listed in our catalogue. When you buy, sell or rent from Plant Namo, you make a conscious decision to extend the lifecycle of electronics goods, and contribute to reducing electronics wastes. This, in turn, makes you a more responsible user of electronic gadgets and appliances, lets you contribute to environmental sustainability, while also giving you the best value for your existing and future purchases of e-goods.</p>
							</div>
						</div>
					</div>
					<div class="how-can-you-help">
						<div class="row">
							<div class="col-md-12">
								<div class="block-heading">
									<!-- <h3 class="font2 weight-bold text-color-1 text-center">HOW CAN YOU HELP?</h3> -->
									<h3 class="font2 weight-bold text-color-1 text-center">HOW IT WORKS?</h3>
									<div class="underline pn-gradient center-block"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="video-thumb pn-gradient">
									<div class="play-icon">
										<i class="fa fa-play-circle-o fa-4x text-color-white"></i>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<p>The electronics segment is constantly evolving to keep pace with changing customer demands and technological innovations. Each time you purchase a new smart phone, laptop, television or any other electronic appliance, the piece you discard in favour of your latest purchase ends up as electronic waste. Electronic waste is one of the biggest challenges facing the environment, in modern times. Globally, roughly 50 million tonnes of e-wastes are generated and discarded every year. Through Planet Namo, we hope to help address this by giving you a convenient and reliable platform to reuse and recycle electronics goods.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="meet-the-planetarians">
			<h3 class="weight-bold text-center font2">MEET THE PLANETARIANS!</h3>
		</div>
		<div class="people">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="picture">
							<img class="img-responsive" src="assets/imgs/image-placeholder-square.png" alt="">
							<div class="underline pn-gradient"></div>
						</div>
						<h3 class="font2 weight-bold text-color-1">NIMIT GUPTA</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt totam, non modi, voluptatibus fugit, repellat quia beatae esse quasi obcaecati inventore quos tenetur eveniet iure nihil natus cupiditate. Harum, vitae.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="picture">
							<img class="img-responsive" src="assets/imgs/image-placeholder-square.png" alt="">
							<div class="underline pn-gradient"></div>
						</div>
						<h3 class="font2 weight-bold text-color-1">NIMIT GUPTA</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt totam, non modi, voluptatibus fugit, repellat quia beatae esse quasi obcaecati inventore quos tenetur eveniet iure nihil natus cupiditate. Harum, vitae.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="picture">
							<img class="img-responsive" src="assets/imgs/image-placeholder-square.png" alt="">
							<div class="underline pn-gradient"></div>
						</div>
						<h3 class="font2 weight-bold text-color-1">NIMIT GUPTA</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt totam, non modi, voluptatibus fugit, repellat quia beatae esse quasi obcaecati inventore quos tenetur eveniet iure nihil natus cupiditate. Harum, vitae.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-color btn-lg join-us-btn">JOIN US</button>
					</div>
				</div>
			</div>
		</div>
		<div class="in-the-news">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="row">
							<div class="col-md-12">
								<div class="block-heading">
									<h3 class="font2 weight-bold text-color-1 text-center no-margin-top">IN THE NEWS</h3>
									<div class="underline pn-gradient center-block"></div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture first">
									<img class="img-responsive img-circle" src="assets/imgs/image-placeholder-square.png" alt="">
								</div>	
								<h3 class="font2 text-color-2 weight-bold">TIMES OF INDIA</h3>
								<p class="text-color-2">
									"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, assumenda perferendis quae dolores fuga molestias nulla dolor necessitatibus, officia corporis quis asperiores est sequi magnam explicabo reprehenderit. Sapiente, culpa, ratione."
								</p>
								<a class="cursor-pointer"><strong>read more >></strong></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture">
									<img class="img-responsive img-circle" src="assets/imgs/image-placeholder-square.png" alt="">
								</div>	
								<h3 class="font2 text-color-2 weight-bold">TIMES OF INDIA</h3>
								<p class="text-color-2">
									"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, assumenda perferendis quae dolores fuga molestias nulla dolor necessitatibus, officia corporis quis asperiores est sequi magnam explicabo reprehenderit. Sapiente, culpa, ratione."
								</p>
								<a class="cursor-pointer"><strong>read more >></strong></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture">
									<img class="img-responsive img-circle" src="assets/imgs/image-placeholder-square.png" alt="">
								</div>	
								<h3 class="font2 text-color-2 weight-bold">TIMES OF INDIA</h3>
								<p class="text-color-2">
									"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, assumenda perferendis quae dolores fuga molestias nulla dolor necessitatibus, officia corporis quis asperiores est sequi magnam explicabo reprehenderit. Sapiente, culpa, ratione."
								</p>
								<a class="cursor-pointer"><strong>read more >></strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="awards pn-gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="row">
							<div class="col-md-12">
								<div class="block-heading">
									<h3 class="font2 weight-bold text-color-white text-center no-margin-top">AWARDS</h3>
									<div class="underline center-block"></div>
									<p class="text-center font2">
										We are ISO 14001:2004 and ISO 9001:2008 certified company. We are in the process of being a reputed R2:2013 certified recycler by March 2017.
									</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture">
									<img class="img-responsive" src="assets/imgs/awards/ISO9001.jpg" alt="">
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture">
									<img class="img-responsive" src="assets/imgs/awards/ISO14001.jpg" alt="">
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="picture">
									<img class="img-responsive" src="assets/imgs/awards/R2Certification.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>