.footer-wrapper .footer-main{
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #eee;

	background: #006837;
	color: #ffffff !important;
	background-image: -webkit-linear-gradient(left, #7dbc3e, #006837);
	background-image: -moz-linear-gradient(left, #7dbc3e, #006837);
	background-image: -ms-linear-gradient(left, #7dbc3e, #006837);
	background-image: -o-linear-gradient(left, #7dbc3e, #006837);
	background-image: linear-gradient(to right, #006837,#7dbc3e);
}

.footer-wrapper .footer-main ul li{
	padding-bottom: 8px;
}

.footer-wrapper .footer-main ul li i.fa{
	font-size: 1.5em;
	margin-right: 10px;
}

.footer-wrapper .bottom-bar{
	background-color: #3c7b44;
	padding-top: 10px;
	padding-bottom: 10px;
}