<!-- Sell-04.psd -->

<div id="sell-product-step-3">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="progress-icons-wrapper">
							<div class="seed-icon"></div>
							<p>Let's get started</p>
						</div>
						<div class="question">
							<h1 class="font2 weight-bold text-color-2">Does your device switch on?</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="estimated-price-wrapper">
										<div>
											<div class="icon-wrapper">
												<div class="icon {{selectedCategoryIcon}}"></div>
											</div>
											<div class="price-wrapper text-center">
												<!-- <p>ESTIMATE PRICE</p> -->
												<!-- <h3 class="weight-bold font2 text-color-2">Rs. 5400</h3> -->
												<h3 class="weight-bold font2 text-color-2">{{productDetails.productName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="user-input-card">
										<div class="row">
											<div class="col-md-12">
												<button class="btn btn-white btn-lg" ng-click="selectOption('yes')" ng-class="activeOption['yes']">YES</button>
												<button class="btn btn-white btn-lg" ng-click="selectOption('no')" ng-class="activeOption['no']">NO</button>
											</div>
											<div class="col-md-12">
												<button ng-click="goToNext()" class="btn btn-next btn-lg btn-color font2 wight-bold">NEXT</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>