<div ng-hide="onForgotPassword" class="footer-wrapper web hidden-xs">
	<div class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>Company</li>
						<li>About Us</li>
						<li>In Media</li>
						<li>Career Blog</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>Support & Policies</li>
						<li>FAQs</li>
						<li>Terms & Conditions</li>
						<li>Privacy Policy</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>Mobiles & Tablets</li>
						<li>Laptop & Computers</li>
						<li>Appliances</li>
					</ul>
				</div>
				<div class="col-md-2 col-md-offset-4">
					<ul class="list-unstyled">
						<li>Quick Links</li>
						<li>Find Us:</li>
						<li>
							<i class="fa fa-facebook"></i>
							<i class="fa fa-twitter"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center text-color-white">
					Copyright &copy; planetnamo.com
				</div>
			</div>
		</div>
	</div>
</div>