/* #details-page is the id of parent view of clearance */

#details-page #clearance{
	padding-bottom: 40px;
}

#details-page #clearance .top-breadcrumb{
	padding-top: 16px;
	padding-bottom: 16px;
	color: #888;
}

#details-page #clearance .name-wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
}

#details-page #clearance .name-wrapper .name{
	margin: 0;
	font-size: 30px;	
}

#details-page #clearance .name-wrapper .options-wrapper{
	padding-top: 10px;
}

#details-page #clearance .name-wrapper .options-wrapper > div > div{
	display: inline-block;	
}

#details-page #clearance .name-wrapper .options-wrapper .checkbox{
	margin: 0;
}

#details-page #clearance .name-wrapper .options-wrapper .favourite-icon{
	margin-left: 16px;
}

#details-page #clearance .name-wrapper .options-wrapper .favourite-icon .fa{
	cursor: pointer;
}
#details-page #clearance .name-wrapper .options-wrapper .favourite-icon .fa.fa-heart-o:hover::before{
	content:"\f004";
	color: #ff0000;
}

#details-page #clearance .name-wrapper .options-wrapper .favourite-icon .fa.fa-heart{
	color: #ff0000;	
}

#details-page #clearance .details-wrapper .images-wrapper{
	padding-top: 16px;
	padding-bottom: 16px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-big .img{
	width: 500px;
	height: 350px;
	background-color: #ddd;
	font-size: 28px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-big .img .background{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	padding: 10px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb{
	margin: 6px 25px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb .img{
	width: 170px;
	height: 120px;
	background-color: #ddd;
	font-size: 20px;
	padding-left: 2px;
	padding-right: 2px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb .img .background{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	padding: 10px;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb .custom-left,
#details-page #clearance .details-wrapper .images-wrapper .images-thumb .custom-right{
	height: 100%;
}

#details-page #clearance .details-wrapper .images-wrapper .pn-gradient.custom:hover,
#details-page #clearance .details-wrapper .images-wrapper .pn-gradient.custom:active,
#details-page #clearance .details-wrapper .images-wrapper .pn-gradient.custom:focus{
	background: #349e40;
	color: #fff !important;
	background-image: -webkit-linear-gradient(left, #e6b000, #349e40);
	background-image: -moz-linear-gradient(left, #e6b000, #349e40);
	background-image: -ms-linear-gradient(left, #e6b000, #349e40);
	background-image: -o-linear-gradient(left, #e6b000, #349e40);
	background-image: linear-gradient(to right, #e6b000, #349e40);
	text-decoration: none;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb .custom-left::before{
	content: '\f053';
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
}

#details-page #clearance .details-wrapper .images-wrapper .images-thumb .custom-right::before{
	content: '\f054';
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
}

#details-page #clearance .details-wrapper .info-cards{
	padding-top: 16px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card,
#details-page #clearance .details-wrapper .info-cards .checkout-card{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .top-bar{
	padding: 10px 14px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .top-bar h3{
	margin: 0;
	color: #fff;
	display: inline-block;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .top-bar .off-tag{
	display: inline-block;
	color: #fff;
	background-color: #f8c406;
	padding: 8px 4px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .top-bar .off-tag::after{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	border: 15px solid transparent;
	border-left-color: #f8c406;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .flipclock .countdown-timer{
	zoom: .5;
	-moz-transform: scale(.5);
	display: inline-block;
	width: auto;
	margin: 0;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .flipclock .countdown-timer .flip-clock-divider.hours .flip-clock-label,
#details-page #clearance .details-wrapper .info-cards .detail-card .flipclock .countdown-timer .flip-clock-divider.minutes .flip-clock-label,
#details-page #clearance .details-wrapper .info-cards .detail-card .flipclock .countdown-timer .flip-clock-divider.seconds .flip-clock-label{
	display: none;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content,
#details-page #clearance .details-wrapper .info-cards .checkout-card .content{
	padding: 14px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content > div{
	padding-top: 14px;
	padding-bottom: 14px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content > div > b,
#details-page #clearance .details-wrapper .info-cards .checkout-card .content b{
	margin-right: 6px;
	font-size: 16px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content > div > span{
	font-size: 16px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper{
	padding-left: 4px;
	padding-right: 4px;
	width: 250px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper .progress{
	height: 17px;
	border-radius: 0;
	margin-bottom: 0;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper .progress .progress-bar{
	line-height: 18px;
}

#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper .range-values span{
	font-size: 12px;
	color: #888;
}

#details-page #clearance .details-wrapper .info-cards .checkout-card{
	margin-top: 24px;
}

#details-page #clearance .details-wrapper .info-cards .checkout-card .content .form-control{
	margin-bottom:6px;
}

#details-page #clearance .details-wrapper .info-cards .checkout-card .content b.price{
	font-size: 26px;
	text-align: right;
	width: 100%;
	display: inline-block;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper{
	padding-top: 38px;
	border-bottom: 1px solid #ddd;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline{
	display: flex;
	flex-direction: row;
	margin: 0;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li{
	display: flex;
	flex-grow: 1;
	padding: 0;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div{
	width: 100%;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p span{
	font-size: 22px;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p{
	color: #aaa;
	margin: 0 4px;
	padding-bottom: 8px;
	border-bottom: 4px solid transparent;
	-webkit-transition: border .4s;
	-o-transition: border .4s;
	transition: border .4s;
	cursor: pointer;
}

#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p:hover,
#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p.active{
	border-bottom: 4px solid #7ec142;
	color: #7ec142;
}

#details-page #clearance .detailed-info .content-area{
	min-height: 300px;
}

#details-page #clearance .detailed-info .content-area > div {
    padding: 20px;
    font-size: 16px;
}


/* For extra small and small screens only */
@media (max-width: 991px){
	#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper{
		width: 170px;
	}

	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p span{
		font-size: 18px;
	}
}

/* for extra small screen only*/
@media (max-width: 767px){
	#details-page #clearance .top-breadcrumb .breadcrumbs{
		font-size: 12px;
	}

	#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper{
		width: 250px;
	}

	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p span{
		font-size: 16px;
	}

	#details-page #clearance .name-wrapper .options-wrapper{
		padding-top: 40px;
	}

	#details-page #clearance .name-wrapper .options-wrapper > .pull-right{
		float: none !important;
	}

	#details-page #clearance .name-wrapper .options-wrapper .checkbox{
		float: left;
	}

	#details-page #clearance .name-wrapper .options-wrapper .favourite-icon{
		float:right;
	}
}


/* for max 650px width only */
@media (max-width: 650px){
	#details-page #clearance .details-wrapper .info-cards .detail-card .content .progress-wrapper{
		padding-top: 10px;
		width: 100%;
	}
	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper{
		border:none;
	}
	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline{
		flex-direction: column;
	}
	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li{
		margin-bottom: 18px;
	}
	#details-page #clearance .detailed-info .nav-wrapper .tabs-wrapper ul.list-inline.flex-inline > li > div p span{
		font-size: 20px;
	}
}
