#pay-emd-page{
	padding-top: 50px;
	padding-bottom: 40px;
}


#pay-emd-page .info-cards .detail-card,
#pay-emd-page .info-cards .pay-emd-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#pay-emd-page .info-cards .detail-card .wrapper h4{
	padding-bottom: 6px;
}

#pay-emd-page .info-cards .detail-card .wrapper > div b{
	padding-right: 6px;
}

#pay-emd-page .info-cards .detail-card .wrapper > div > .inline-block{
	padding: 6px 14px 6px 0;
}


#pay-emd-page .info-cards .back-to-auction{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 30px;
}

#pay-emd-page .info-cards .back-to-auction a{
	font-size: 20px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

#pay-emd-page .info-cards .back-to-auction a:hover{
	color: #3bb549;
}

#pay-emd-page .info-cards .pay-emd-card > div{
	padding-top: 10px;
	padding-bottom: 10px;
}

#pay-emd-page .info-cards .pay-emd-card + button{
	font-size: 22px;
}

/* For extra small and small screens only */
@media (max-width: 991px){

}

/* for extra small screen only*/
@media (max-width: 767px){
	#pay-emd-page .info-cards .detail-card .wrapper h4{
		padding-top: 6px;
	}
}