<!-- Sell-09.psd -->

<div id="sell-product-step-8">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="product-name">
							<h1 class="font2 weight-bold text-color-2">{{productDetails.productName}}</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="product-image-card text-center">
										<div class="row">
											<div class="col-md-12 text-center">
												<img ng-src="{{baseImageUrl}}:{{selectedProductId}}" alt="" class="img-responsive">
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="estimated-price-wrapper">
										<div>
											<div class="icon-wrapper">
												<div class="icon mobile"></div>
											</div>
											<div class="price-wrapper text-center">
												<p>ESTIMATED PRICE</p>
												<h3 class="weight-bold font2 text-color-2">Rs. {{newProduct.planetNamoCost}}</h3>
											</div>
										</div>
									</div>
									<div class="btn-wrapper">
										<div class="row">
											<div class="col-md-12 text-center">
												<button data-toggle="modal" ng-click="showSchedulePickupModal()" class="btn btn-block btn-schedule btn-lg btn-color font2 wight-bold">SCHEDULE PICKUP</button>
											</div>
										</div>
									</div>
									<div class="report-options-wrapper">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<a><i class="fa fa-eye"></i><span> View Full Report</span></a>
											</div>
											<div class="col-md-6 col-sm-6 text-right">
												<a><i class="fa fa-arrow-down"></i><span> Download Report</span></a>
											</div>
										</div>
									</div>
									<div class="congrats-text-wrapper">
										<div class="row">
											<div class="col-md-12 text-center">
												<p class="text-color-1">Congrats! You're one step closer to growing a tree.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal for schedule pickup -->
		<div class="schedule-pickup-modal modal fade">
			<div class="modal-dialog pn-modal bg-white">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
					<pn-loading-spinner ng-show="loadingAddress"></pn-loading-spinner>
						<div class="row" ng-hide="loadingAddress">
							<div class="col-md-12">
								<h3 class="text-color-2 no-margin-top">Schedule Pickup</h3>
							</div>
							<div class="col-md-12" ng-show="viewSavedAddresses">
								<div class="row">
									<div class="col-md-4" ng-repeat="address in userAddress">
										<div class="card-wrapper" ng-click="selectAddress(address._id)" ng-class="activeAddress[address._id]">
											<div class="address">
												<h5 class="weight-bold">{{user.name}}</h5>
												<p>{{address.line1}}<span ng-if="address.line2">, </span>{{address.line2}}<span ng-if="address.locality">, </span> {{address.locality}}, {{address.city}}, {{address.state}}, {{address.zipCode}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="add-new-address-btn">
									<button ng-click="addNewAddress()" class="btn btn-white btn-block font2 weight-bold">+ ADD NEW ADDRESS</button>
								</div>
								<div><br></div>
							</div>
							<div class="col-md-12 no-padding-grid" ng-hide="viewSavedAddresses">
								<div class="col-md-12">
									<input type="text" class="form-control" ng-model="address.line1" placeholder="Address Line 1">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.line2" placeholder="Address Line 2">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.locality" placeholder="Locality">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.city" placeholder="City">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.state" placeholder="State">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.country" placeholder="Country" value="India">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.zipCode" placeholder="Zip Code">
								</div>
								<div class="col-md-12">
									<button ng-click="showSavedAddresses()" class="btn btn-white btn-block font2 weight-bold"> Select from saved addresses</button>
								</div>
								<div class="col-md-12"><br></div>
							</div>
							<div class="row no-margin-row">
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="mobileNumber" placeholder="Mobile Number" value="{{userMobile}}">
								</div>
								<div class="col-md-6 col-sm-6">
									<p class="input-group class-datepicker">
										<input type="text" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-click="open1()"/>
										<span class="input-group-btn">
											<button type="button" style="border: 1px solid #bbb;" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</p>
								</div>
								<!-- <div class="col-md-6 col-sm-6">
									<div class="col-md-12">
										<div uib-timepicker ng-model="time" hour-step="hstep" minute-step="mstep" class="class-timepicker"></div>
									</div>
								</div> -->
							</div>
							<div class="col-md-12">
								<button class="btn btn-confirm btn-lg btn-color font2 wight-bold" ng-click="confirmPickup()">CONFIRM</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	