<!-- Buy-05.psd -->
<pn-loading-spinner padding-top="100px" padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="direct-buy" ng-hide="loadingData">
	<div class="direct-buy-wrapper">
		<div class="top-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12"><span class="breadcrumbs">Home > Buy > Details</span></div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="name-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h1 class="name">{{lot.lotDetails.lotName}}</h1>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="options-wrapper">
								<div class="pull-right">
									<div class="add-to-compare">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
												Add to Compare
											</label>
										</div>
									</div>
									<div class="favourite-icon">
										<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
										<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="images-wrapper">
								<div class="images-big">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
								<div class="images-thumb">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
							</div><!-- images wrapper -->
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="info-cards">
								<div class="detail-card">
									<div class="top-bar pn-gradient">
										<h3 class="font2 weight-bold va-middle">Rs. {{lot.price}}</h3>
										<div class="off-tag va-middle" ng-hide="true"><span>60% OFF</span></div>
									</div>
									<div class="content">
										<h4 class="text text-color-2 weight-bold">SPECIFICATIONS:</h4>
										<div class="row">
											<div class="col-md-4" ng-repeat="spec in lot.lotItemDetails[0].specifications">
												<div class="card-wrapper">
													<div ng-hide="true" class="icon inline-block"></div>
													<div class="info inline-block">
														<b>{{spec.displayName}}</b>
														<span>{{spec.specificationValue}}</span>
													</div>
												</div>
												<!-- <button class="btn btn-green btn-block">Customise</button> -->
											</div>
										</div>
									</div>
								</div> <!-- detail card -->
								<div class="checkout-card">
									<div class="content">
										<!-- <div class="row">
											<div class="col-md-6 col-sm-6"><b>DELIVERY QUANTITY:</b></div>
											<div class="col-md-6 col-sm-6"><input type="number" min="1" ng-model="productQuantityNeeded" class="form-control"></div>
										</div> -->
										<div class="row" ng-hide="true">
											<div class="col-md-6 col-sm-6"><b>DELIVERY ZIP:</b></div>
											<div class="col-md-6 col-sm-6"><input type="text" ng-model="deliveryZip" class="form-control"></div>
										</div>
										<!-- <hr class="custom"> -->
										<div class="row">
											<div class="col-md-6 col-sm-6"><b>TOTAL</b></div>
											<div class="col-md-6 col-sm-6"><b class="price text-color-2">Rs. {{lot.price}}</b></div>
										</div>
									</div>
									<button ng-click="buyNow()" class="btn btn-color btn-lg btn-block weight-bold font2">Buy Now</button>
									<button ng-show="availableRentalProduct" ui-sref="rent.details({id: availableRentalProduct.lotId})" class="btn btn-color btn-rent btn-block weight-bold font1">Or Rent for Rs. {{availableRentalProduct.price}}/Month</button>
								</div><!-- checkout card -->
							</div> <!-- info cards -->
						</div>
					</div>
				</div>
			</div> <!-- detail wrapper -->

			<div class="detailed-info">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-wrapper">
								<div class="tabs-wrapper">
									<ul class="list-inline flex-inline">
										<li ng-repeat="data in navTabs" on-finish-render="ngRepeatFinished">
											<div class="text-center">
												<p ng-class="activeTabs[data.name]" ng-click="goToTab(data.name)">
													<span class="va-middle font2 weight-bold">{{data.name}}</span>
												</p>
											</div>
										</li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div> <!-- nav wrapper -->
							<div class="content-area">
								<div ng-show="activeTabs['SPECIFICATIONS'] == 'active'">
									<p ng-hide="lot.lotItemDetails[0].specifications.length">Not enough data available.</p>
									<p ng-show="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications">
										<strong>{{spec.displayName}}: </strong>
										<span>{{spec.specificationValue}}</span>
									</p>
								</div>
								<div ng-show="activeTabs['FEATURES'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['WARRANTY'] == 'active'">
									<p ng-show="lot.lotItemDetails[0].warranty_n_support">{{lot.lotItemDetails[0].warranty_n_support}}</p>
									<p ng-hide="lot.lotItemDetails[0].warranty_n_support">Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['T&Cs'] == 'active'">
									<p ng-show="lot.lotDetails.lotTermsAndConditions">{{lot.lotDetails.lotTermsAndConditions}}</p>
									<p ng-hide="lot.lotDetails.lotTermsAndConditions">Not enough data available.</p>
								</div>
							</div> <!-- content area -->
						</div>
					</div>
				</div>
			</div> <!-- Detailed info -->
		</div>
	</div>
</div>
</div>