#signup-page{

}

#signup-page .signup-wrapper{
	padding-top: 40px;
	padding-bottom: 40px;
}

#signup-page .signup-wrapper .signup-header h3{
	font-weight: bold;
}

#signup-page .signup-wrapper .input-area .form-inline .custom-label{
	margin-right: 10px;
}

#signup-page .signup-wrapper .input-area .form-inline .radio{
	padding-right: 6px;
}

#signup-page .signup-wrapper .input-area .social-login-btns{
	padding-top: 30px;
	padding-bottom: 30px;
}

#signup-page .signup-wrapper .input-area .social-login-btns .social-btn .icon{
	padding: 10px 15px;
	display: inline-block;
	border-right: 1px solid #fff;
	color: #fff;
}

#signup-page .signup-wrapper .input-area .social-login-btns .social-btn .text{
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
}

#signup-page .signup-wrapper .input-area .social-login-btns .social-btn.facebook-btn {
	background-color: #344ea2;
}

#signup-page .signup-wrapper .input-area .social-login-btns .social-btn.google-btn {
	background-color: #ce3c27;
	margin-left: 24px;
}

#signup-page .signup-wrapper .input-area .social-login-btns .social-btn:hover{
	opacity: .9;
}

#signup-page .signup-wrapper .input-area .input-form input{
	margin-bottom: 18px;
}

#signup-page .signup-wrapper .input-area .input-form .form-btns{
	padding-top: 20px;
	padding-bottom: 20px;
}

#signup-page .signup-wrapper .input-area .input-form .form-btns .btn-join{
	padding: 7px 26px;
	margin-right: 8px;
}

/* Media query for small and extra small screen only*/
@media (max-width: 991px){
	#signup-page .signup-wrapper .input-area .input-form .file-input-wrapper span{
		padding-bottom: 10px;
		text-align: left;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#signup-page .signup-wrapper .input-area .form-inline .radio{
		display: inline-block;
	}
	#signup-page .signup-wrapper .input-area .social-login-btns .social-btn.google-btn{
		margin-left: 0;
		margin-top:10px;
	}
}