<!-- Profile Art board 13 Copy .psd  -->
<div id="me-auction-hall-expired">
	<div class="row" infinite-scroll="loadMoreExpiredAuctions()" infinite-scroll-distance="3">
		<div class="col-md-12" ng-repeat="data in auctionController.expiredAuctions" ng-if="!data.auctionCancelled && data.auctionTimeLeftInMS && data.userBids && data.userBids.length > 0">
			<div class="card box-shadow text-color-2">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="img-wrapper">
							<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-7 col-sm-6">
						<div class="info-wrapper">
							<h4 class="weight-bold">{{data.lotName}} ({{ (data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productName) ? data.userBids[0].orderDetails[0].productName : ''}})</h4>
							<p class="price">Starting Bid Price: <b>Rs.{{(data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productStartingBidPrice) ? data.userBids[0].orderDetails[0].productStartingBidPrice : '0'}}</b></p>
						</div>
						<div class="timer-and-bid-wrapper">
							<div class="row">
								<div class="col-md-6">
									<div class="wrapper">
										<h4 class="text-danger">AUCTION ENDED</h4>
									</div>
								</div>
								<div class="col-md-3">
									<div class="wrapper">
										<h4>CURRENT BID</h4>
										<div class="content">
											<span ng-show="data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.bidAmount" class="pull-left">Rs. {{data.userBids[0].currentHighestBid.bidAmount}}</span>
											<span ng-show="!data.userBids[0].currentHighestBid || !data.userBids[0].currentHighestBid.bidAmount" class="pull-left">Rs. {{data.orderInfo[0].productStartingBidPrice}}</span>
											<i class="fa fa-caret-up pull-right"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="wrapper">
										<h4>YOUR BID</h4>
										<div class="content">
											<span ng-show="data.userBids[0].currentUserBidAmount"  class="pull-left">Rs. {{data.userBids[0].currentUserBidAmount}}</span>
											<span ng-show="!data.userBids[0].currentUserBidAmount"  class="pull-left">Rs. {{(data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productStartingBidPrice) ? data.orderInfo[0].productStartingBidPrice : 0}}</span>
											<i ng-class="(data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.userId && data.userBids[0].currentHighestBid.userId == indexController.user.id) ? 'fa fa-caret-up pull-right' : 'fa fa-caret-down pull-right'"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="buttons">
							<button type="button" class="btn btn-block btn-lg btn-color font2" ui-sref="details.detailsAuction({id: data.lotId})" >VIEW DETAILS</button>
							<button type="button" class="btn btn-block btn-lg btn-white font2">EMD: RS. {{(data.userBids[0].emdAmount) ? data.userBids[0].emdAmount : 0}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<pn-loading-spinner class="col-md-12" padding-bottom="200px" ng-show="loadingMoreDataExpiredAuctions"></pn-loading-spinner>
	</div>
</div>