<!-- Sell-10.psd -->

<div id="sell-product-step-9">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="font2 text-color-1 weight-bold">Order Summary</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="message-wrapper text-center">
						<h4 class="text-color2 weight-bold">Hi, {{user.name}}</h4>
						<p>Thank you for your sell request <b>(Order Id- #{{orderInfo.sellingOrderId}})</b></p>
						<p>Your request has been frowarded to the seller for approval. Please check your dashboard for updates</p>
						<button ng-click="goToDashboard()" class="btn btn-lg btn-dashboard btn-color">GO TO DASHBOARD</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="invoice-options-wrapper">
						<div class="row text-center">
							<div class="col-md-4 col-sm-4">
								<a><i class="fa fa-eye"></i><span> View Invoice</span></a>
							</div>
							<div class="col-md-4 col-sm-4">
								<a><i class="fa fa-arrow-down"></i><span> Download Invoice</span></a>
							</div>
							<div class="col-md-4 col-sm-4">
								<a><i class="fa fa-print"></i><span> Print Invoice</span></a>
							</div>
						</div>
					</div>
					<hr class="custom">
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="product-wrapper">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<img ng-src="{{baseImageUrl}}:{{orderInfo.baseProductId}}" alt="" class="img-responsive">
							</div>
							<div class="col-md-8 col-sm-8 text-color-2">
								<h4 class="text-color-2 weight-bold">{{orderInfo.baseProductName}}</h4>
								<p><b>Rs: {{orderInfo.planetNamoCost}}</b></p>
								<p><b>Quantity:</b> {{orderInfo.quantity}}</p>
								<p><b>Request Status:</b> Recieved</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>