/* #rent-page is the id of parent view of clearance */

#rent-page #rent-products{
	
}

#rent-page #rent-products .hero-wrapper{
	position: relative;
	min-height: 400px;
	background-image: url(../../imgs/image-placeholder-large.png);
	background-size: cover;
	background-position: center;
}

#rent-page #rent-products .products-wrapper .top-breadcrumb{
	padding-top: 16px;
	padding-bottom: 16px;
}

#rent-page #rent-products .products-wrapper .top-breadcrumb .breadcrumbs{
	color: #888;
	display: inline-block;
	padding-top: 4px;
}

#rent-page #rent-products .products-wrapper .top-breadcrumb .search-input{
	float: right;
	width: 100%;
	max-width: 300px;
}

#rent-page #rent-products .products-wrapper .content-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters{
	padding-right: 14px;
	border-right: 1px solid #ccc;
	padding-bottom: 20px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters .filter-buttons{
	padding-bottom: 30px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters .panel-group .panel {
	border-radius: 0;
	margin-bottom: 20px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters .panel-default > .panel-heading {
	background-color: #7ec142;
	color: #fff;
	border-radius: 0;
	padding: 4px 5px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters .panel-default > .panel-heading a {
	display: block;
	padding: 6px 10px;	
}


#rent-page #rent-products .products-wrapper .content-wrapper .filters .panel-default > .panel-heading a .fa {
	margin-right: 12px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters .dropdown button .caret{
	margin-left: 6px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .filters ul.dropdown-menu {
	width: 100%;
}

#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .main-heading h3 {
	margin: 0;
	padding: 6px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options > div {
	display: inline-block;
	margin-right: 6px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options > div:last-child {
	margin-right: 0;
}

#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options .grid-icon,
#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options .list-icon {
	border: 1px solid;
	padding: 3px 7px;
	color: #aaa;
	font-size: 18px;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options .grid-icon:hover,
#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options .list-icon:hover {
	color: #555;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products{
	padding-top: 26px;
	padding-bottom: 26px;
}


#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper{
	padding-top: 10px;
	padding-bottom: 40px;
}


#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .card{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar{
	padding-bottom: 10px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar > div{
	display: inline-block;	
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar .favourite-icon .fa{
	cursor: pointer;
}
#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar .favourite-icon .fa.fa-heart-o:hover::before{
	content:"\f004";
	color: #ff0000;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar .favourite-icon .fa.fa-heart{
	color: #ff0000;	
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .top-bar .checkbox{
	margin: 0;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .image-wrapper{
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .image-wrapper .product-image{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .info-wrapper {
	border: 1px solid #bbb;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .info-wrapper >div {
	border-bottom: 1px solid #bbb;
	padding: 10px 6px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .info-wrapper > .name h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 22px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .info-wrapper > .specs{
	font-size: 12px;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .info-wrapper > .price span.line-through{
	color: #999;
}

#rent-page #rent-products .products-wrapper .content-wrapper .products .card-wrapper .buy-btn{
	padding-top: 8px;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#rent-page #rent-products .products-wrapper .content-wrapper .filters{
		border-right: none;
	}
}


/* for extra small screen only*/
@media (max-width: 767px){
	#rent-page #rent-products .products-wrapper .top-breadcrumb .breadcrumbs{
		font-size: 12px;
	}
	#rent-page #rent-products .products-wrapper .top-breadcrumb .search-input{
		float: none;
		max-width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#rent-page #rent-products .products-wrapper .content-wrapper .filters{
		padding-right: 0;
	}
	#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .main-heading{
		width: 100%;
	}
	#rent-page #rent-products .products-wrapper .content-wrapper .heading-and-options .options{
		padding-top: 14px;
		padding-bottom: 10px;
	}
}
