<!-- Buy-02.psd -->
<pn-loading-spinner padding-top="100px" padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="clearance" ng-hide="loadingData">
	<div class="clearance-wrapper">
		<div class="top-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12"><span class="breadcrumbs">Home > Clearance Stock > Details</span></div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="name-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h1 class="name">{{lot.lotDetails.lotName}}</h1>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="options-wrapper">
								<div class="pull-right">
									<div class="add-to-compare">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
												Add to Compare
											</label>
										</div>
									</div>
									<div class="favourite-icon">
										<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
										<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="images-wrapper">
								<div class="images-big">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
											{{data}}
										</div>
									</div>
								</div>
								<div class="images-thumb">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
											{{data}}
										</div>
									</div>
								</div>
							</div><!-- images wrapper -->
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="info-cards">
								<div class="detail-card">
									<div class="top-bar pn-gradient">
										<h3 class="font2 weight-bold va-middle">Rs. {{lot.lotItemDetails[0].perItemPrice}} per unit</h3>
										<div ng-hide="true" class="off-tag va-middle"><span>60% OFF</span></div>
									</div>
									<div class="content">
										<div>
											<b>QUANTITY LEFT:</b> <span>{{lot.lotItemDetails[0].quantityAvailable}}</span>
										</div>
										<div>
											<b>QUANTITY SOLD:</b>
											<div class="progress-wrapper inline-block">
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{lot.lotItemDetails[0].originalQuantity - lot.lotItemDetails[0].quantityAvailable}}" aria-valuemin="0" aria-valuemax="{{lot.lotItemDetails[0].originalQuantity}}" style="width: {{quantityPercentage}}%;">
														{{lot.lotItemDetails[0].originalQuantity - lot.lotItemDetails[0].quantityAvailable}}
													</div>
												</div>
												<div class="range-values">
													<span class="min pull-left">0</span>
													<span class="max pull-right">{{lot.lotItemDetails[0].originalQuantity}}</span>
												</div>
											</div>
										</div>
										<div>
											<b class="inline-block va-middle">TIME LEFT:</b>
											<div class="inline-block va-middle text-center">
												<div ng-if="lot.lotDetails && lot.lotDetails.timeLeftInMS && !lot.daysLeft" class="start-date-wrapper flipclock">
													<div id="countdown-time-{{lot.lotDetails.lotId}}" class="countdown-timer"></div>
												</div>
												<div ng-if="lot.daysLeft" class="start-date-wrapper">
													<h4 class="weight-bold text-success">{{lot.daysLeft}} Days</h4>
												</div>
												<div ng-if="!lot.daysLeft && (!lot.lotDetails || !lot.lotDetails.timeLeftInMS)" class="start-date-wrapper">
													<span>N/A</span>
												</div>
											</div>
										</div>
									</div>
								</div> <!-- detail card -->
								<div class="checkout-card">
									<div class="content">
										<div class="row">
											<div class="col-md-6 col-sm-6"><b>DELIVERY QUANTITY:</b></div>
											<div class="col-md-6 col-sm-6"><input type="number" min="1" ng-model="productQuantityNeeded" class="form-control"></div>
										</div>
										<div class="row" ng-hide="true">
											<div class="col-md-6 col-sm-6"><b>DELIVERY ZIP:</b></div>
											<div class="col-md-6 col-sm-6"><input type="text" class="form-control"></div>
										</div>
										<hr class="custom">
										<div class="row">
											<div class="col-md-6 col-sm-6"><b>TOTAL</b></div>
											<div class="col-md-6 col-sm-6"><b class="price text-color-2">Rs. 50000/-</b></div>
										</div>
									</div>
									<pn-loading-spinner ng-show="paymentLoading"></pn-loading-spinner>
									<button ng-hide="paymentLoading" ng-click="proceedToPay()" class="btn btn-color btn-lg btn-block weight-bold font2">Check Out</button>
								</div><!-- checkout card -->
							</div> <!-- info cards -->
						</div>
					</div>
				</div>
			</div> <!-- detail wrapper -->

			<div class="detailed-info">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-wrapper">
								<div class="tabs-wrapper">
									<ul class="list-inline flex-inline">
										<li ng-repeat="data in navTabs" on-finish-render="ngRepeatFinished">
											<div class="text-center">
												<p ng-class="activeTabs[data.name]" ng-click="goToTab(data.name)">
													<span class="va-middle font2 weight-bold">{{data.name}}</span>
												</p>
											</div>
										</li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div> <!-- nav wrapper -->
							<div class="content-area">
								<div ng-show="activeTabs['LOT DETAILS'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['SPECIFICATIONS'] == 'active'">
									<p ng-hide="lot.lotItemDetails[0].specifications.length">Not enough data available.</p>
									<p ng-show="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications">
										<strong>{{spec.displayName}}: </strong>
										<span>{{spec.specificationValue}}</span>
									</p>
								</div>
								<div ng-show="activeTabs['FEATURES'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['WARRANTY'] == 'active'">
									<p ng-show="lot.lotItemDetails[0].warranty_n_support">{{lot.lotItemDetails[0].warranty_n_support}}</p>
									<p ng-hide="lot.lotItemDetails[0].warranty_n_support">Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['T&Cs'] == 'active'">
									<p ng-show="lot.lotDetails.lotTermsAndConditions">{{lot.lotDetails.lotTermsAndConditions}}</p>
									<p ng-hide="lot.lotDetails.lotTermsAndConditions">Not enough data available.</p>
								</div>
							</div> <!-- content area -->
						</div>
					</div>
				</div>
			</div> <!-- Detailed info -->
		</div>
	</div>
</div>
</div>