<!-- Login and Signup modal -->
<div class="modal fade" id="login-signup-modal">
	<div class="modal-dialog modal-lg pn-modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div class="login">
							<h4 class="pn-gradient">RETURNING CUSTOMER?</h4>
							<form ng-submit="loginUser()" novalidate>
								<input type="email" ng-model="loginCredentials.email" class="form-control" placeholder="Email" tabindex="1">
								<input type="password" ng-model="loginCredentials.password" class="form-control" placeholder="Password" tabindex="2">
								<a ng-click="forgotPassword()" class="pull-right cursor-pointer">Forgot Password?</a>
								<div class="clearfix"></div>
								<button type="submit" ng-hide="loginSpinnerEnabled" class="btn btn-color btn-lg">LOG IN</button>
								<pn-loading-spinner ng-show="loginSpinnerEnabled" padding-top="10px" padding-bottom="10px"></pn-loading-spinner>
							</form>
							<div class="social-login-btns" ng-hide="loginSpinnerEnabled">
								<div class="row">
									<div class="col-md-12">
										<h5 class="text-color-2 weight-bold">Or</h5>
									</div>
									<div class="col-md-12">
										<div ng-click="FBLogin()" ng-show="facebookReady" class="social-btn facebook-btn inline-block cursor-pointer">
											<span class="icon">
												<i class="fa fa-facebook"></i>
											</span>
											<span class="text">
												Login with Facebook
											</span>
										</div>
										<div ng-click="loginWithGoogle()" class="social-btn google-btn inline-block cursor-pointer">
											<span class="icon">
												<i class="fa fa-google"></i>
											</span>
											<span class="text">
												Login with Google
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="signup">
							<h4 class="pn-gradient">NEW CUSTOMER?</h4>
							<div class="text">
								<p>The Planet is yours! Buy, Sell or Rent with planet namo and take a step forward in reducing your carbon footprint.</p>
								<!-- <form class="form-inline">
									<div class="radio">
										<label>
											<input type="radio" name="customerType" value="Individual">
											Individual
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="customerType" value="Business">
											Business
										</label>
									</div>
								</form> -->
								<!-- Remove data-dismiss once controller is implemented -->
								<button class="btn btn-color btn-lg" ui-sref="signup" data-dismiss="modal">SIGN UP</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>