<!-- Sell-03.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="sell-product-step-2" ng-hide="loadingData">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="product-name">
							<h1 class="font2 weight-bold text-color-2">{{productDetails.productName}}</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-5 col-sm-5">
									<div class="product-image-wrapper">
										<img ng-src="{{baseImageUrl}}:{{selectedProductId}}" class="img-responsive" alt="">
									</div>
								</div>
								<div class="col-md-7 col-sm-7">
									<div class="info-card">
										<div class="top-bar pn-gradient">
											<div class="row">
												<div class="col-md-7 col-sm-7">
													<p class="">Market Price</p>
												</div>
												<div class="col-md-5 col-sm-5">
													<h3 class="font2 weight-bold va-middle">Rs. {{productDetails.marketCost}}</h3>
												</div>
											</div>
										</div>
										<div class="content">
											<div class="edit-wrapper">
												<div class="row">
													<div class="col-md-9 col-sm-9 col-xs-12">
														<span>Released: </span><b>{{productDetails.releaseDate | date:'MMM, yyyy'}}</b>
													</div>
													<!-- <div class="col-md-3 col-sm-3 col-xs-3 text-right">
														<a class="cursor-pointer">Edit</a>
													</div> -->
												</div>
											</div>
											<div class="specs-wrapper">
												<ul class="list-unstyled">
													<li ng-repeat="spec in productDetails.specifications"><i class="fa fa-check"></i> <strong>{{spec.displayName}}:</strong><span> {{spec.specificationValue}}</span></li>
												</ul>
											</div>
										</div>
									</div>
									<div ng-if="false" class="location-wrapper">
										<input type="text" class="form-control" g-places-autocomplete options="autoCompleteOptions" ng-model="location" placeholder="Where is your product?">
									</div>
									<button ng-click="goToNext()" class="btn btn-block btn-lg btn-color font2 wight-bold">GET ASSURED SELLING PRICE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>