<!-- Sell-07.psd -->

<div id="sell-product-step-6">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="top-bar">
						<div class="progress-icons-wrapper">
							<div class="seed-icon step4"></div>
							<p>Almost there...</p>
						</div>
						<div class="question">
							<h1 class="font2 weight-bold text-color-2">How old is your Mobile?</h1></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12">
						<div class="product-info-wrapper">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="estimated-price-wrapper">
										<div>
											<div class="icon-wrapper">
												<div class="icon {{selectedCategoryIcon}}"></div>
											</div>
											<div class="price-wrapper text-center">
												<!-- <p>ESTIMATE PRICE</p>
												<h3 class="weight-bold font2 text-color-2">Rs. 5400</h3> -->
												<h3 class="weight-bold font2 text-color-2">{{productDetails.productName}}</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="user-input-card">
										<div class="row">
											<div class="col-md-12">
												<p class="info-text">Select the valid box</p>
											</div>
											<div class="col-md-12">
												<div class="checklist">
													<div class="row">
														<div class="col-md-4 col-sm-6" ng-repeat="data in checklist track by $index">
															<div class="radio">
																<label>
																	<input type="radio" ng-model="selected.months" name="radioName" ng-value="months[$index]">
																	<h4 class="text-color-2 weight-bold">{{data.name}}</h4>
																	<p>{{data.description}}</p>
																</label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<button ng-click="goToNext()" class="btn btn-next btn-lg btn-color font2 wight-bold">NEXT</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>