/* #me-page is the id of parent view */

#me-page #me-aggregate{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-aggregate .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-aggregate .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-aggregate .card .info-wrapper p.total{
	padding-top: 10px;
	font-size: 16px;	
}

#me-page #me-aggregate .card .transaction-info{
	padding-top: 10px;
	margin-top: 20px;
	font-size: 13px;
	border-top: 1px solid #eee;	
}


#me-page #me-aggregate .card .quantity-wrapper h5,
#me-page #me-aggregate .card .quantity-wrapper p{
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
}

#me-page #me-aggregate .card .quantity-wrapper h5{
	padding-top: 8px;
	font-weight: bold;
}

#me-page #me-aggregate .card .quantity-wrapper .progress-wrapper{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 10px;
}

#me-page #me-aggregate .card .quantity-wrapper .progress-wrapper .progress{
	height: 17px;
	border-radius: 0;
	margin-bottom: 0;
}

#me-page #me-aggregate .card .quantity-wrapper .progress-wrapper .progress .progress-bar{
	line-height: 18px;
}

#me-page #me-aggregate .card .quantity-wrapper .progress-wrapper .range-values span{
	font-size: 12px;
	color: #888;
}

#me-page #me-aggregate .card .quantity-wrapper .countdown-timer{
	zoom: .32;
	-moz-transform: scale(0.32);
	margin: 16px 0 0 0;
}

#me-page #me-aggregate .card .quantity-wrapper .countdown-timer .flip-clock-divider.hours .flip-clock-label,
#me-page #me-aggregate .card .quantity-wrapper .countdown-timer .flip-clock-divider.minutes .flip-clock-label,
#me-page #me-aggregate .card .quantity-wrapper .countdown-timer .flip-clock-divider.seconds .flip-clock-label{
	display: none;
}



#me-page #me-aggregate .schedule-pickup-modal .card-wrapper{
	padding: 14px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

#me-page #me-aggregate .schedule-pickup-modal .card-wrapper:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}

#me-page #me-aggregate .schedule-pickup-modal .card-wrapper.active{
	background-color: #3bb549;
    color: #fff;
}

#me-page #me-aggregate .schedule-pickup-modal .add-new-address-btn{
	padding-bottom: 10px;
}

#me-page #me-aggregate .schedule-pickup-modal .form-control{
	margin-bottom: 14px;
}

#me-page #me-aggregate .schedule-pickup-modal .class-datepicker .form-control,
#me-page #me-aggregate .schedule-pickup-modal .class-timepicker .form-control{
	margin-bottom: 0 !important;
}

#me-page #me-aggregate .schedule-pickup-modal .class-datepicker{
	/*padding-top: 10px;*/
}

#me-page #me-aggregate .schedule-pickup-modal .class-datepicker .input-group-btn{
	border: 1px solid #ddd !important;
}

#me-page #me-aggregate .schedule-pickup-modal .class-timepicker .uib-time.am-pm button{
	border: 1px solid #ddd !important;
	margin-left: 4px;
}

#me-page #me-aggregate .schedule-pickup-modal .class-datepicker .uib-daypicker:focus,
#me-page #me-aggregate .schedule-pickup-modal .class-timepicker .btn-link:focus{
	outline: none;
}


/* for extra small screen only*/
@media (max-width: 767px){
	#me-page #me-aggregate{
		padding-bottom: 80px;
	}

	#me-page #me-aggregate .top-bar h1{
		font-size: 22px;
	}

	#me-page #me-aggregate .top-bar{
		padding-top: 0px;
	}

	#me-page #me-aggregate .product-info-wrapper .report-options-wrapper{
		padding-top: 20px;
		text-align: center;
	}

	#me-page #me-aggregate .product-info-wrapper .report-options-wrapper > .row > .text-right{
		padding-top: 12px;
		text-align: center;
	}
	#me-page #me-aggregate .schedule-pickup-modal .class-datepicker{
		padding-top: 0px;
	}
}



/* For extra small screens only */
@media (min-width: 768px) and (max-width: 991px){
	#me-page #me-aggregate .card .buttons button{
		font-size: 14px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-aggregate .card .info-wrapper h4{
		padding-top: 10px;	
	}

	#me-page #me-aggregate .card .transaction-info{
		padding-bottom: 10px;
	}
	#me-page #me-aggregate .card .extend-contract-wrapper .box-wrapper{
		padding: 8px 4px;
	}
	#me-page #me-aggregate .card .quantity-wrapper h5{
		padding-top: 16px;
	}
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#me-page #me-aggregate .card .quantity-wrapper .progress-wrapper{
		padding:0;
		padding-top: 4px;
	}
}







