/* #me-page is the id of parent view */

#me-page #me-orders{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-orders .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-orders .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-orders .all-button{
	padding-bottom: 30px;	
}

#me-page #me-orders .invoice-wrapper{
	padding: 50px;
	width: 1000px;
	margin: 0 auto;	
	overflow: hidden;
}

#me-page #me-orders .invoice-wrapper .logo-wrapper img{
	max-width: 200px;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#me-page #me-orders .invoice-wrapper #invoice-tables{
		min-width: 800px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-orders .card .info-wrapper h4{
		padding-top: 10px;	
	}

	#me-page #me-orders .all-button .text-right > button:first-child{
		display: none;
	}

	#me-page #me-orders .all-button .text-right{
		padding-top: 20px;
		text-align: left !important;
	}
}
