/* #me-paeg is the id of parent view */

#me-page #me-profile{
	padding-top: 40px;
	padding-bottom: 80px;
}

#me-page #me-profile .user-info-wrapper .user-info h3{
	margin-top: 0;
	padding-bottom: 10px;
}


#me-page #me-profile .user-info-wrapper .action-buttons{
	padding-top: 20px;
	padding-bottom: 10px;
}

#me-page #me-profile .billing-info-card-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper,
#me-page #me-profile .billing-info-card-wrapper .billing-info-wrapper{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
}

#me-page #me-profile .edit-cards-wrapper .topbar,
#me-page #me-profile .billing-edit-wrapper .topbar,
#me-page #me-profile .billing-info-card-wrapper .billing-info-wrapper .topbar{
	padding: 10px;
	background-color: #3bb549;
}

#me-page #me-profile .edit-cards-wrapper .topbar *,
#me-page #me-profile .billing-edit-wrapper .topbar *,
#me-page #me-profile .billing-info-card-wrapper .billing-info-wrapper .topbar *{
	margin: 0;
	font-size: 16px;
	color: #fff;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper .content,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper .content,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper .content,
#me-page #me-profile .billing-info-card-wrapper .billing-info-wrapper .content{
	padding: 10px;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper .content p,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper .content p,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper .content p{
	padding-top: 4px;	
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper .content input.form-control,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper .content input.form-control,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper .content input.form-control{
	margin-bottom: 10px;	
}

#me-page #me-profile .edit-cards-wrapper button.btn-save,
#me-page #me-profile .billing-edit-wrapper button.btn-save{
	min-width: 80px;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper .content > form,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper .content > form{
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 600px;
	margin: 0 auto;
}

#me-page #me-profile .edit-cards-wrapper .change-password-wrapper .content > form{
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper .content .buttons,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper .content .buttons,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper .content .buttons{
	padding-top: 10px;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper.ng-hide-add,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper.ng-hide-add,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper.ng-hide-add{
	-webkit-animation: 0.2s fadeOut ease;
	-o-animation: 0.2s fadeOut ease;
	animation: 0.2s fadeOut ease;
}

#me-page #me-profile .edit-cards-wrapper .edit-info-wrapper.ng-hide-remove,
#me-page #me-profile .billing-edit-wrapper .edit-wrapper.ng-hide-remove,
#me-page #me-profile .edit-cards-wrapper .change-password-wrapper.ng-hide-remove{
	animation:0.3s fadeIn ease;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#me-page #me-profile .user-info-wrapper .user-info{
		padding-top: 24px;
	}
}

/* for extra small screen only*/
@media (max-width: 767px){
	#me-page #me-profile .modal-body button + p{
		padding-bottom: 16px;
	}
}




/* custom green modal modal css */

#me-page #me-profile .modal-content{
	border-radius: 0;
}

#me-page #me-profile .modal-header{
	padding: 0;
	border: none;
}

#me-page #me-profile .modal-body{
	padding: 0 30px 40px;
}

#me-page #me-profile .modal-body .seed-img{
	padding-bottom: 20px;
}

#me-page #me-profile .modal-body button{
	white-space: normal;
	font-size: 20px;
}

#me-page #me-profile .modal-body button + p{
	padding-top: 6px;
}

#me-page #me-profile .modal-header button.close{
	padding: 12px;
	font-size: 30px;	
}