/* #me-page is the id of parent view */

#me-page #me-rentals{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-rentals .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-rentals .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-rentals .card .info-wrapper p.total{
	padding-top: 10px;
	font-size: 16px;	
}

#me-page #me-rentals .card .transaction-info{
	padding-top: 10px;
	font-size: 13px;
	border-top: 1px solid #ddd;	
}

#me-page #me-rentals .card .transaction-info > p:first-child{
	padding-right: 20px;
}

#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper{
	border: 1px solid #eee;
	padding: 6px;
	margin-bottom: 10px;
	-webkit-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;
}

#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper:hover{
	background-color: #f5f5f5;
}

#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper.selected{
	background-color: #3bb549;
	color: #fff;
}

#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper hr{
	margin-top: 0px;
}

#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper hr + p{
	font-size: 16px;
}

#me-page #me-rentals .card .extend-contract-wrapper button{
	margin-top: 10px;
}

#me-page #me-rentals .card .extend-contract-wrapper h4{
	padding-bottom: 18px;
}

#me-page #me-rentals .card .extend-contract-wrapper select{
	padding: 5px 12px;
	height: 32px;
}

#me-page #me-rentals .card .extend-contract-wrapper select{
	padding: 5px 12px;
	height: 32px;
}

#me-page #me-rentals .card .extend-contract-wrapper .rental-info{
	font-size: 16px;
}

#me-page #me-rentals .card .extend-contract-wrapper .rental-info span,
#me-page #me-rentals .card .extend-contract-wrapper .rental-info b{
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

/* For extra small screens only */
@media (min-width: 768px) and (max-width: 991px){
	#me-page #me-rentals .card .buttons button{
		font-size: 14px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-rentals .card .info-wrapper h4{
		padding-top: 10px;	
	}

	#me-page #me-rentals .card .transaction-info{
		padding-bottom: 10px;
	}
	#me-page #me-rentals .card .extend-contract-wrapper .box-wrapper{
		padding: 4px;
	}
	#me-page #me-rentals .card .extend-contract-wrapper .rental-info .text-right{
		text-align: left !important;
	}

}
