/* #me-page is the id of parent view */

#me-page #me-sales{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-sales .card{
	padding: 14px;
	margin-bottom: 20px;
}

#me-page #me-sales .card .info-wrapper p.price{
	padding-bottom: 10px;	
}

#me-page #me-sales .card .info-wrapper p.total{
	padding-top: 10px;
	font-size: 16px;	
}

#me-page #me-sales .card .status .stage-wrapper{
	font-size: 0;
}

#me-page #me-sales .card .status .stage-wrapper .circle{
	width: 15%;
	padding-top: 15%;
	background-color: #ccc;
	border-radius: 50%;
}

#me-page #me-sales .card .status .stage-wrapper .line{
	width: 27%;
	padding-top: 7%;
	border-bottom: 5px solid #ccc;
	vertical-align: top;
}

#me-page #me-sales .card .status .stage-wrapper.stage-1 .circle:first-child,
#me-page #me-sales .card .status .stage-wrapper.stage-2 .circle,
#me-page #me-sales .card .status .stage-wrapper.stage-3 .circle{
	background-color: #3bb549;
}

#me-page #me-sales .card .status .stage-wrapper.stage-2 .circle:last-child{
	background-color: #ccc;
}

#me-page #me-sales .card .status .stage-wrapper.stage-2 .line.line-1,
#me-page #me-sales .card .status .stage-wrapper.stage-3 .line{
	border-color: #3bb549;
}

#me-page #me-sales .card .status .stage-text > div{
	width: 32%;
	padding-top: 6px;
}

#me-page #me-sales .card .status .stage-text p{
	display: inline-block;
	vertical-align: top;
}

#me-page #me-sales .card .status .stage-text div.text-right p{
	padding-right: 8px;
}

#me-page #me-sales .card .stage-1-wrapper,
#me-page #me-sales .card .stage-2-wrapper,
#me-page #me-sales .card .stage-3-wrapper{
	padding-top: 20px;
}

#me-page #me-sales .card .stage-1-wrapper p,
#me-page #me-sales .card .stage-2-wrapper p{
	font-size: 18px;
	padding-bottom: 10px;
}

#me-page #me-sales .card .stage-3-wrapper p:first-child{
	font-size: 18px;
}



/* For extra small screens only */
@media (max-width: 991px){
	#me-page #me-sales .card .stage-2-wrapper button{
		margin-bottom: 10px;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	#me-page #me-sales .card .info-wrapper h4{
		padding-top: 10px;	
	}
	#me-page #me-sales .card .status{
		padding-top: 30px;
	}
}
