/* #me-page is the id of parent view */

#me-page #me-wishlist .products{
	padding-top: 26px;
	padding-bottom: 80px;
}


#me-page #me-wishlist .products .card-wrapper{
	padding-top: 10px;
	padding-bottom: 40px;
}


#me-page #me-wishlist .products .card-wrapper .card{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#me-page #me-wishlist .products .card-wrapper .top-bar{
	padding-bottom: 10px;
}

#me-page #me-wishlist .products .card-wrapper .top-bar > div{
	display: inline-block;	
}

#me-page #me-wishlist .products .card-wrapper .top-bar .favourite-icon .fa{
	cursor: pointer;
}
#me-page #me-wishlist .products .card-wrapper .top-bar .favourite-icon .fa.fa-heart-o:hover::before{
	content:"\f004";
	color: #ff0000;
}

#me-page #me-wishlist .products .card-wrapper .top-bar .favourite-icon .fa.fa-heart{
	color: #ff0000;	
}

#me-page #me-wishlist .products .card-wrapper .top-bar .checkbox{
	margin: 0;
}

#me-page #me-wishlist .products .card-wrapper .image-wrapper{
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
}

#me-page #me-wishlist .products .card-wrapper .image-wrapper .product-image{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

#me-page #me-wishlist .products .card-wrapper .image-wrapper .offer-text{
	position: absolute;
	left: 0;
	top: 20px;
	height: 28px;
	padding: 4px;
	background-color: #f8c406;
	color: #fff;
	font-size: 12px;
}

#me-page #me-wishlist .products .card-wrapper .image-wrapper .offer-text:after{
	position: absolute;
	content: "";
	top: 0;
	left: 100%;
	border: 14px solid transparent;
	border-left-color: #f8c406;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper {
	border: 1px solid #bbb;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper >div {
	border-bottom: 1px solid #bbb;
	padding: 10px 6px;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .name h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 22px;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .specs{
	font-size: 12px;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .sold-qty .progress-wrapper{
	padding-left: 4px;
	padding-right: 4px;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .sold-qty .progress-wrapper .progress{
	height: 17px;
	border-radius: 0;
	margin-bottom: 0;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .sold-qty .progress-wrapper .progress .progress-bar{
	line-height: 18px;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .sold-qty .progress-wrapper .range-values span{
	font-size: 12px;
	color: #888;
}

#me-page #me-wishlist .products .card-wrapper .info-wrapper > .price span.line-through{
	color: #999;
}

#me-page #me-wishlist .products .card-wrapper .buy-btn{
	padding-top: 8px;
}

#me-page #me-wishlist p.no-data-available{
	padding-top: 50px;
	padding-bottom: 200px;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	#me-page #me-wishlist .products .card-wrapper .info-wrapper > .sold-qty .progress-wrapper{
		padding:0;
		padding-top: 4px;
	}
}
