/* #me-page is the id of parent view */

#me-page #me-wallet{
	padding-top: 26px;
	padding-bottom: 80px;
}

#me-page #me-wallet .left-bar .card-1,
#me-page #me-wallet .left-bar .card-2,
#me-page #me-wallet .left-bar .buttons{
	margin-bottom: 20px;
}

#me-page #me-wallet .left-bar .card-1 > div{
	padding: 4px;
}

#me-page #me-wallet .left-bar .card-1 > .frozen{
	background-color: #efefef;
}

#me-page #me-wallet .left-bar .card-1 h4{
	font-size: 16px;
}

#me-page #me-wallet .left-bar .card-1 p{
	font-size: 24px;
}

#me-page #me-wallet .left-bar .card-2 .topbar{
	padding: 2px;
	background-color: #3bb549;
}

#me-page #me-wallet .left-bar .card-2 .topbar h4{
	color: #fff;
}

#me-page #me-wallet .left-bar .card-2 .wallet-balance{
	padding: 10px;
}

#me-page #me-wallet .left-bar .card-2 .wallet-balance h4{
	font-size: 24px;
}

#me-page #me-wallet .right-bar > .box-shadow{
	margin-bottom: 20px;
}

#me-page #me-wallet .right-bar > .card-wrapper  .topbar{
	padding: 2px 14px;
	background-color: #3bb549;
}

#me-page #me-wallet .right-bar > .card-wrapper .topbar h4{
	color: #fff;
}

#me-page #me-wallet .right-bar > .card-wrapper .content{
	padding: 20px 14px;
}

/* animation with ngAnimate classes */
#me-page #me-wallet .right-bar .payment-history-card.ng-hide-add{
	-webkit-animation: 0.2s fadeOut ease;
	-o-animation: 0.2s fadeOut ease;
	animation: 0.2s fadeOut ease;
}

#me-page #me-wallet .right-bar .payment-history-card.ng-hide-remove{
	animation:0.3s fadeIn ease;
}

#me-page #me-wallet .right-bar .pay-with-razorpay-card .content input.form-control,
#me-page #me-wallet .right-bar .withdraw-fund-card .content input.form-control,
#me-page #me-wallet .right-bar .payee-account-card .content input.form-control{
	margin-bottom: 10px;
}

#me-page #me-wallet .right-bar .pay-with-razorpay-card .content button,
#me-page #me-wallet .right-bar .payee-account-card .content button{
	margin-top: 10px;
}

#me-page #me-wallet .right-bar .withdraw-fund-card .content button{
	padding-top: 7px;
	padding-bottom: 7px;
}

#me-page #me-wallet .right-bar .withdraw-fund-card .content .tile{
	min-width: 50px;
	padding: 4px;
	margin-right: 10px;
	background: #3bb549;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* For extra small screens only */
@media (min-width: 768px) and (max-width: 991px){
	#me-page #me-wallet .left-bar .card-1 h4,
	#me-page #me-wallet .left-bar .card-2 .topbar h4,
	#me-page #me-wallet .left-bar .buttons button{
		font-size: 14px;
	}
}

/* for extra small screen only*/
@media (max-width: 767px){
	#me-page #me-wallet .right-bar > .card-wrapper .topbar h4{
		font-size: 16px;
	}
	#me-page #me-wallet .right-bar .withdraw-fund-card .content .tile{
		margin-top: 10px;
	}
}
