/* profile/me page common topbar css */

#me-page{
	padding-top: 40px;
}

#me-page .box-shadow{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#me-page > .user-info-wrapper{
	padding-top: 10px;
	padding-bottom: 40px;
}

#me-page > .user-info-wrapper .profile-picture-wrapper > div{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #ddd;
	overflow: hidden;
}

#me-page > .user-info-wrapper .profile-picture-wrapper > div img{
	width: 100%;
	/*height: 100%;*/
}

#me-page > .user-info-wrapper .green-points-wrapper .icon{
	width: 100px;
	height: 76px;
	background-image: url(../../imgs/icons/green-points.png);
	background-size: 100px;
	margin: 0 auto;
}

#me-page > .user-info-wrapper .green-points-wrapper h4{
	margin-bottom: 0;
}

#me-page > .nav-tabs-wrapper .navbar{
	border: none;
}


#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav>li>a{
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	-webkit-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav>.active>a,
#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav>.active>a:focus,
#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav>.active>a:hover{
	background-color: #3bb549;
	color: #fff;
}

#me-page > .nav-tabs-wrapper .navbar .navbar-collapse{
	border-bottom: 1px solid #e7e7e7;
}

#me-page > .user-info-wrapper .auctions-stats > div{
	border: 1px solid #ccc;
	color: #555;
	padding: 6px;
	min-width: 160px;
}

#me-page > .user-info-wrapper .auctions-stats .row{
	margin-left: -6px;
	margin-right: 6px;
}
#me-page > .user-info-wrapper .auctions-stats .row > div {
	padding-left: 6px;
	padding-right: 6px;
}

#me-page > .user-info-wrapper .auctions-stats{
	padding-top: 10px;
	padding-bottom: 10px;
}

#me-page > .user-info-wrapper .auctions-stats h3{
	text-align: center;
	font-weight: bold;
}

#me-page > .user-info-wrapper .auctions-stats p,
#me-page > .user-info-wrapper .auctions-stats h3{
	margin: 0;
}


/* For extra small and small screens only */
@media (max-width: 991px){
	#me-page > .user-info-wrapper .green-points-wrapper .icon{
		width: 80px;
		height: 61px;
		background-size: 80px;
	}	
}

/* for extra small screen only*/
@media (max-width: 767px){
	#me-page > .user-info-wrapper .profile-picture-wrapper > div{
		margin: 4px auto;
	}
	#me-page > .user-info-wrapper .info-wrapper{
		text-align: center;
	}

	#me-page > .user-info-wrapper .green-points-wrapper .icon{
		width: 50px;
		height: 39px;
		background-size: 50px;
		margin-right: 6px;
	}

	#me-page > .user-info-wrapper .green-points-wrapper > *{
		display: inline-block;
		vertical-align: middle;
		margin:0;
		font-size: 14px;
	}

	#me-page > .nav-tabs-wrapper .navbar .container-fluid.no-padding-grid,
	#me-page > .nav-tabs-wrapper .navbar .navbar-collapse.no-padding-grid{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#me-page > .nav-tabs-wrapper .navbar{
		border: 1px solid #e7e7e7;
	}

	#me-page > .nav-tabs-wrapper  .navbar-default .navbar-brand{
		padding-top: 15px;
	}

	#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav{
		margin-top: 0;
		margin-bottom: 0;
	}

	#me-page > .nav-tabs-wrapper .navbar-default .navbar-nav>li>a{
		font-size: 14px;
	}

	#me-page > .nav-tabs-wrapper .navbar-default .navbar-toggle{
		padding-left: 16px;
		padding-right: 16px;
	}

	#me-page > .nav-tabs-wrapper .navbar-default .navbar-toggle:focus,
	#me-page > .nav-tabs-wrapper .navbar-default .navbar-toggle:hover{
		color: #fff;
	}

	#me-page > .user-info-wrapper .auctions-stats{
		text-align:center;
	}
	#me-page > .user-info-wrapper .auctions-stats p{
		text-align: left;
	}
}