<!-- Buy-08.psd -->

<div id="cart-pay">
	<div class="cart-pay-wrapper">
		<div class="info-cards">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="payment-method-card">
							<div class="heading">
								<h4 class="weight-bold font2 text-color-2">CHOOSE MODE OF PAYMENT</h4>
							</div>
							<div class="content">
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<div class="wrapper" ng-repeat="data in [1,2,3,4,5]">
											
										</div>
									</div>
									<div class="col-md-8 col-sm-8"></div>
								</div>
							</div>
						</div>
						<div class="back-to-bag text-right">
							<hr class="custom">
							<a class="font2 text-color-2 weight-bold cursor-pointer">Back to Bag</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="address-card text-color-2">
							<h4 class="weight-bold font2 text-color-2 inline-block">ADDRESS</h4>
							<div class="edit-btn inline-block pull-right">
								<button class="btn btn-green">Edit</button>
							</div>
							<div class="clearfix"></div>
							<div class="address">
								<h5 class="weight-bold">Nimit Gupta</h5>
								<p>Address 1st Line, Address Second Line, City, State, Pin</p>
							</div>
						</div>
						<div class="summary-card text-color-2">
							<h4 class="weight-bold font2 text-color-2">ORDER SUMMARY</h4>
							<div>
								<b>Sub Total: </b><span>Rs. 4200</span>
							</div>
							<div>
								<b>Shopping Bag: </b><span>2 Items</span>
							</div>
							<div>
								<b>Coupon Discount: </b><span>N/A</span>
							</div>
							<div>
								<b>Shipping Charges: </b><span>Rs. 0</span>
							</div>
							<div>
								<b>PAY AMOUNT: </b><span>Rs. 4200</span>
							</div>
						</div>
						<button class="btn btn-color btn-lg btn-block weight-bold font2">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>