<!-- Profile-02.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-wishlist" ng-hide="loadingData">
	<div class="wishlist-wrapper">
		<div class="container">
			<div class="products" ng-show="wishlist.length">
				<div class="row">
				<div ng-repeat="lot in wishlist" class="col-lg-3 col-md-6 col-sm-6">
						<div class="card-wrapper">
							<div class="top-bar">
								<div class="add-to-compare pull-left">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
											Add to Compare
										</label>
									</div>
								</div>
								<div class="favourite-icon pull-right">
									<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
									<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="card">
								<div class="image-wrapper pn-gradient">
									<div class="product-image" style="background-image:url('assets/imgs/image-placeholder-square.png')"></div>
									<div class="offer-text">
										<span>60% OFF</span>
									</div>
								</div> <!-- image wrapper -->
								<div class="info-wrapper">
									<div class="name">
										<h3>{{lot.lotDetails.lotName}}</h3>
									</div>
									<div class="specs">
										<div class="row no-margin-row">
											<div ng-if="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications" class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
												<b>{{spec.displayName}}:</b> {{spec.specificationValue}}
											</div>
											<div ng-hide="lot.lotItemDetails[0].specifications.length" class="col-md-12 no-padding-grid">
												<p class="no-margin-bottom">No specification available.</p>
											</div>
										</div>
									</div>
									<div class="available-qty">
										<div class="row no-margin-row">
											<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
												<span>Available Qty:</span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
												<span class="font2 text-color-3 weight-bold">1000 pcs</span>
											</div>
										</div>
									</div>
									<div class="sold-qty">
										<div class="row no-margin-row">
											<div class="col-md-6 no-padding-grid">
												<span>Sold Qty:</span>
											</div>
											<div class="col-md-6 no-padding-grid">
												<div class="progress-wrapper">
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="2500" style="width: {{(500/2400)*100}}%;">
															500
														</div>
													</div>
													<div class="range-values">
														<span class="min pull-left">0</span>
														<span class="max pull-right">2500</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="price">
										<div class="row no-margin-row">
											<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
												<span class="line-through text-color-1">Rs. XXXXX</span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
												<span class="font2 text-color-3 weight-bold">Rs. XXXXX</span>
											</div>
										</div>
									</div>
								</div> <!-- info wrapper -->
							</div>
							<div class="buy-btn">
								<button ui-sref="details.detailsClearance({id: data})" class="btn btn-lg btn-block btn-color font2 weight-bold">Buy Now</button>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- products -->

			<!-- if no data available -->
			<div class="row" ng-hide="wishlist.length">
				<div class="col-md-12 text-center">
					<p class="no-data-available text-color-2">Your wishilst is empty right now.</p>
				</div>
			</div>
		</div>
	</div>
</div>