/* #compare-page is the id of parent view */

#compare-page{
	padding-top: 50px;
	padding-bottom: 40px;
}

#compare-page .main-heading h3{
	padding: 4px 8px;
	margin-top: 0;
}

#compare-page .lot-type-tabs .main-heading h4 {
	margin: 0;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	color: #888;
	cursor: pointer;
}

#compare-page .lot-type-tabs .main-heading h4:hover{
	color: #555;
}

#compare-page .lot-type-tabs .main-heading h4.pn-gradient {
	color: #fff;
}

#compare-page p.no-data{
	padding: 50px 6px 150px;
}

#compare-page table.compare-table{ 
	border: 1px solid #ddd;
	border-top: none;
	border-left: 0;
	border-right: 0;
}

#compare-page .table.compare-table >tbody .image-wrapper{
	padding-bottom: 10px;
}

#compare-page .table.compare-table >tbody .image-wrapper img{
	max-width: 100%;
	max-height: 180px;
}

#compare-page .table.compare-table >tbody .info{
	padding-top: 10px;
	padding-bottom: 20px;
}

#compare-page .table.compare-table >tbody .info p{
	font-size: 16px;
}

#compare-page .table.compare-table >tbody>tr:nth-of-type(odd){
	background-color: #e9ffd3;
}

#compare-page .table.compare-table >tbody>tr:first-child{
	background-color: #fff;
}

#compare-page .table.compare-table >tbody>tr:first-child td{
	border: none;
}

#compare-page .table.compare-table >tbody>tr>td{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#compare-page #compare-buy .content,
#compare-page #compare-auction .content,
#compare-page #compare-clearance .content,
#compare-page #compare-rent .content{
	padding-top: 40px;
	padding-bottom: 40px;
}



/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){
	#compare-page .lot-type-tabs{
		padding-top: 10px;
	}

	#compare-page .lot-type-tabs .main-heading.inline-block{
		display: block;
		width: 100%;
		margin-bottom: 4px;
	}	
}
