/* #cart-page is the id of parent view */

#cart-page #cart-delivery{
	padding-top: 50px;
	padding-bottom: 40px;
}

#cart-page #cart-delivery .info-cards .detail-card,
#cart-page #cart-delivery .info-cards .saved-address-card,
#cart-page #cart-delivery .info-cards .address-card,
#cart-page #cart-delivery .info-cards .summary-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#cart-page #cart-delivery .info-cards .detail-card .wrapper h4{
	padding-bottom: 6px;
}

#cart-page #cart-delivery .info-cards .detail-card .wrapper > div b{
	padding-right: 6px;
}

#cart-page #cart-delivery .info-cards .detail-card .wrapper > div > .inline-block{
	padding: 6px 14px 6px 0;
}

#cart-page #cart-delivery .info-cards .saved-address-card{
	padding: 0;
}

#cart-page #cart-delivery .info-cards .saved-address-card > .heading{
	padding: 14px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content{
	padding: 14px;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content .card-wrapper{
	padding: 14px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

#cart-page #cart-delivery .add-new-address-modal .card-wrapper{
	padding: 14px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content .card-wrapper:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content .card-wrapper.active{
	background-color: #3bb549;
	color: #fff;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content .card-wrapper.active button{
	background-color: #f7f7f7;
	color: #3aa246;
}

#cart-page #cart-delivery .info-cards .saved-address-card .content .card-wrapper .btns{
	padding-top: 10px;
}

#cart-page #cart-delivery .info-cards .add-new-address-btn{
	padding-bottom: 10px;
}

#cart-page #cart-delivery .info-cards .detail-card,
#cart-page #cart-delivery .info-cards .address-card,
#cart-page #cart-delivery .info-cards .saved-address-card{
	margin-bottom: 20px;
}

#cart-page #cart-delivery .info-cards .saved-address-card .wrapper h4{
	padding-bottom: 6px;
}

#cart-page #cart-delivery .info-cards .back-to-bag{
	padding-bottom: 40px;
}

#cart-page #cart-delivery .info-cards .back-to-bag a{
	font-size: 20px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

#cart-page #cart-delivery .info-cards .back-to-bag a:hover{
	color: #3bb549;
}

#cart-page #cart-delivery .info-cards .summary-card > div{
	padding-top: 10px;
	padding-bottom: 10px;
}

#cart-page #cart-delivery .info-cards .summary-card > div.payable-amount b{
	padding-right: 10px;
}

#cart-page #cart-delivery .info-cards .summary-card > div.payable-amount span{
	font-size: 20px;
	font-weight: bold;
}

#cart-page #cart-delivery .info-cards .address-card .address{
	padding-top: 10px;
}

#cart-page #cart-delivery .info-cards .summary-card + button{
	font-size: 22px;
}

#cart-page #cart-delivery .add-new-address-modal .form-control{
	margin-bottom: 14px;
}


/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){
	#cart-page #cart-delivery .info-cards .detail-card .wrapper h4{
		padding-top: 6px;
	}
}
