/* #cart-page is the id of parent view */

#cart-page #cart-overview{
	padding-top: 50px;
	padding-bottom: 40px;
}

#cart-page #cart-overview .info-cards .detail-card,
#cart-page #cart-overview .info-cards .apply-coupon-card,
#cart-page #cart-overview .info-cards .summary-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#cart-page #cart-overview .info-cards .apply-coupon-card,
#cart-page #cart-overview .info-cards .detail-card{
	margin-bottom: 20px;
}

#cart-page #cart-overview .info-cards .detail-card .wrapper h4{
	padding-bottom: 6px;
}

#cart-page #cart-overview .info-cards .detail-card .wrapper > div b{
	padding-right: 6px;
}

#cart-page #cart-overview .info-cards .detail-card .wrapper > div > .inline-block{
	padding: 6px 14px 6px 0;
}

#cart-page #cart-overview .info-cards .detail-card .options{
	padding-top: 14px;
}

#cart-page #cart-overview .info-cards .detail-card .options a{
	margin-right: 16px;
}


#cart-page #cart-overview .info-cards .continue-shopping{
	padding-bottom: 40px;
}

#cart-page #cart-overview .info-cards .continue-shopping a{
	font-size: 20px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

#cart-page #cart-overview .info-cards .continue-shopping a:hover{
	color: #3bb549;
}

#cart-page #cart-overview .info-cards .summary-card > div{
	padding-top: 10px;
	padding-bottom: 10px;
}

#cart-page #cart-overview .info-cards .summary-card + button{
	font-size: 22px;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){
	#cart-page #cart-overview .info-cards .detail-card .wrapper h4{
		padding-top: 6px;
	}
	#cart-page #cart-overview .info-cards .continue-shopping a{
		font-size: 16px;
	}
}
