/* #cart-page is the id of parent view */

#cart-page #cart-pay{
	padding-top: 50px;
	padding-bottom: 40px;
}

#cart-page #cart-pay .info-cards .payment-method-card,
#cart-page #cart-pay .info-cards .address-card,
#cart-page #cart-pay .info-cards .summary-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

#cart-page #cart-pay .info-cards .payment-method-card{
	padding: 0;
}

#cart-page #cart-pay .info-cards .payment-method-card > .heading{
	padding: 14px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

#cart-page #cart-pay .info-cards .payment-method-card .content{
	padding: 14px;
}

#cart-page #cart-pay .info-cards .payment-method-card .content .wrapper{
	padding: 8px;
	min-height: 60px;
	width: 100%;
	margin: 1px 0;
	background-color: #999;
}


#cart-page #cart-pay .info-cards .address-card,
#cart-page #cart-pay .info-cards .payment-method-card{
	margin-bottom: 20px;
}

#cart-page #cart-pay .info-cards .payment-method-card .wrapper h4{
	padding-bottom: 6px;
}

#cart-page #cart-pay .info-cards .back-to-bag{
	padding-bottom: 40px;
}

#cart-page #cart-pay .info-cards .back-to-bag a{
	font-size: 20px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

#cart-page #cart-pay .info-cards .back-to-bag a:hover{
	color: #3bb549;
}

#cart-page #cart-pay .info-cards .summary-card > div{
	padding-top: 10px;
	padding-bottom: 10px;
}

#cart-page #cart-pay .info-cards .address-card .address{
	padding-top: 10px;
}

#cart-page #cart-pay .info-cards .summary-card + button{
	font-size: 22px;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	
}

/* for extra small screen only*/
@media (max-width: 767px){
	
}
