<!-- Rent 01.psd -->

<div id="rent-products">
	<div class="hero-wrapper">
		
	</div>
	<div class="products-wrapper">
		<div class="top-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6"><span class="breadcrumbs">Home > Rent</span></div>
					<div class="col-md-6 col-sm-6">
						<div class="inline-block search-input">
							<form class="form-inline text-right">
								<div class="form-group">
									<input type="text" ng-model="searchQueryParam" class="form-control" placeholder="Search your product">
								</div>
								<button class="btn btn-green inline-block" ng-click="searchWithQuery()">Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="filters">
						<div class="filter-buttons">
							<div class="row no-margin-row">
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
									<button ng-click="applyFilters()" class="btn btn-color btn-block">Apply Filters</button>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
									<button ng-click="clearAllFilters()" class="btn btn-white fix-border btn-block">Clear</button>
								</div>
							</div>
						</div>
							<uib-accordion close-others="false">
								<div uib-accordion-group class="panel-default font2" is-open="true">
									<uib-accordion-heading>
										PRODUCT<i class="pull-left fa" ng-class="{'fa-plus': status.open, 'fa-minus': !status.open}"></i>
									</uib-accordion-heading>
									<div class="accordion-content">
										<ul class="filters-wrapper list-unstyled">
											<li ng-repeat="product in filters.products track by $index">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="appliedFilters.products[$index]" value="{{product}}"> {{product}}
													</label>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div uib-accordion-group class="panel-default font2" is-open="true">
									<uib-accordion-heading>
										BRAND<i class="pull-left fa" ng-class="{'fa-plus': status.open, 'fa-minus': !status.open}"></i>
									</uib-accordion-heading>
									<div class="accordion-content">
										<ul class="filters-wrapper list-unstyled">
											<li ng-repeat="brand in filters.brands">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="appliedFilters.brands[$index]" value="{{brand}}"> {{brand}}
													</label>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div uib-accordion-group class="panel-default font2" is-open="true">
									<uib-accordion-heading>
										PRICE RANGE<i class="pull-left fa" ng-class="{'fa-plus': status.open, 'fa-minus': !status.open}"></i>
									</uib-accordion-heading>
									<div class="accordion-content">
										<div class="dropdown">
											<button class="btn btn-white btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												{{selectedPriceRange.text}} 
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<li ng-repeat="range in filters.priceRange"><a ng-click="changePriceRange(range)" class="cursor-pointer">{{range.displayText}}</a></li>
											</ul>
										</div>
									</div>
								</div>
							</uib-accordion>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="heading-and-options">
									<div class="main-heading inline-block pull-left">
										<h3 class="font2 pn-gradient text-color-white weight-bold">RENT</h3>
									</div>
									<div class="options pull-right text-color-2">
										<div class="no-of-products">
											<span ng-show="lots.length == 1">{{lots.length}} Product</span>
											<span ng-hide="lots.length == 1">{{lots.length}} Products</span>
										</div>
										<div class="grid-icon cursor-pointer">
											<i class="fa fa-th-large"></i>
										</div>
										<div class="list-icon cursor-pointer hide">
											<i class="fa fa-list-ul"></i>
										</div>
										<div class="sort-by">
											<select name="" ng-change="changeSortBy(sortByValue)" ng-model="sortByValue" id="input" class="form-control" required="required">
												<option value="">Sort By</option>
												<option value="">Most Recent</option>
												<option value="PLH">Price Low - High</option>
												<option value="PHL">Price High - Low</option>
											</select>
										</div>
									</div>
									<div class="clearfix"></div>
								</div> <!-- heading and options -->
							</div>
						</div>
						<div class="products">
							<pn-loading-spinner ng-show="loadingLots"></pn-loading-spinner>
							<!-- <div ng-hide="loadingLots || !lots.length" class="row"> -->
							<div ng-hide="loadingLots" class="row">
								<div ng-repeat="lot in lots | orderBy:sortBy:sortIsReverse" class="col-lg-4 col-md-6 col-sm-6">
									<div class="card-wrapper">
										<div class="top-bar">
											<div class="add-to-compare pull-left">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
														Add to Compare
													</label>
												</div>
											</div>
											<div class="favourite-icon pull-right">
												<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
												<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="card">
											<div class="image-wrapper pn-gradient">
												<div class="product-image" style="background-image:url('{{lot.lotDetails.lotImageURL}}')"></div>
											</div> <!-- image wrapper -->
											<div class="info-wrapper">
												<div class="name">
													<h3>{{lot.lotDetails.lotName}}</h3>
												</div>
												<div class="specs">
													<div class="row no-margin-row">
														<div ng-if="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications" class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>{{spec.displayName}}:</b> {{spec.specificationValue}}
														</div>
														<div ng-hide="lot.lotItemDetails[0].specifications.length" class="col-md-12 no-padding-grid">
															<p class="no-margin-bottom">No specification available.</p>
														</div>
													</div>
												</div>
												<div class="monthly-rental">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span>Monthly Rental</span>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span class="font2 text-color-3 weight-bold">Rs. {{lot.rent}}</span>
														</div>
													</div>
												</div>
												<div class="price">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span>Orignal Price</span>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span class="text-color-2">Rs. {{lot.price}}</span>
														</div>
													</div>
												</div>
											</div> <!-- info wrapper -->
										</div>
										<div class="buy-btn">
											<button ui-sref="rent.details({id: lot.lotDetails.lotId})" class="btn btn-lg btn-block btn-color font2 weight-bold">Rent Now</button>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- products -->
						<!-- if no data available -->
						<div class="row" ng-hide="loadingLots || lots.length">
							<div class="col-md-12 text-center">
								<p class="no-data-available text-color-2">Sorry, no result found matching your search.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>