<!-- Buy-07.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="cart-delivery" ng-hide="loadingData">
	<div class="cart-delivery-wrapper">
		<div class="info-cards">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="detail-card">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<img src="assets/imgs/image-placeholder-square.png" class="img-responsive" alt="">
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="wrapper text-color-2">
										<h4 class="font2 text-color-2 weight-bold">{{lot.lotDetails.lotName}}</h4>
										<div>
											<div class="inline-block">
												<b>Price:</b> <span>Rs. {{lot.price}}</span>
											</div>
										</div>
										<div ng-repeat="spec in lot.lotItemDetails[0].specifications">
											<div class="inline-block">
												<b>{{spec.displayName}}: </b> <span>{{spec.specificationValue}}</span>
											</div>
										</div>
										<div>
											<div class="inline-block">
												<b>Qty:</b> <span>1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
<!-- 							<div class="row">
								<div class="col-md-4 col-sm-4"></div>
								<div class="col-md-8 col-sm-8">
									<div class="options">
										<div class="inline-block">
											<a class="cursor-pointer">Move to Wishlist</a>
										</div>
										<div class="inline-block">
											<a class="cursor-pointer">Remove</a>
										</div>
										<div class="inline-block">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Add Extended Warranty for Rs. 999/-
												</label>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
						<!-- /product detail -->
						<div class="saved-address-card">
							<div class="heading">
								<h4 class="weight-bold font2 text-color-2">CHOOSE PREVIOUSLY SAVED ADDRESS</h4>
							</div>
							<div class="content">
								<pn-loading-spinner ng-show="loadingAddresses"></pn-loading-spinner>
								<div class="row" ng-hide="loadingAddresses">
									<div class="col-md-4" ng-repeat="address in userInfo.address">
										<div class="card-wrapper" ng-click="selectAddress(address._id)" ng-class="activeAddress[address._id]">
											<div class="address">
												<h5 class="weight-bold">{{userInfo.name}}</h5>
												<p>{{address.line1}}<span ng-if="address.line2">, </span>{{address.line2}}<span ng-if="address.locality">, </span> {{address.locality}}, {{address.city}}, {{address.state}}, {{address.zipCode}}</p>
											</div>
											<div class="btns">
												<div class="row">
													<div class="col-md-6 col-sm-6 col-xs-6">
														<button ng-click="removeAddress(address._id, $event)" class="btn btn-green btn-block">Remove</button>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6">
														<button ng-click="showEditAddress(address, $event)" class="btn btn-green btn-block">Edit</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="add-new-address-btn">
							<button data-toggle="modal" ng-click="showAddNewAddressForm()" class="btn btn-white btn-block btn-lg font2 weight-bold">+ ADD NEW ADDRESS</button>
						</div>
						<div ng-hide="true" class="back-to-bag text-right">
							<hr class="custom">
							<a class="font2 text-color-2 weight-bold cursor-pointer">Back to Bag</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div ng-hide="true" class="address-card text-color-2">
							<h4 class="weight-bold font2 text-color-2 inline-block">ADDRESS</h4>
							<div class="edit-btn inline-block pull-right">
								<button class="btn btn-green">Edit</button>
							</div>
							<div class="clearfix"></div>
							<div class="address">
								<h5 class="weight-bold">Nimit Gupta</h5>
								<p>Address 1st Line, Address Second Line, City, State, Pin</p>
							</div>
						</div>
						<pn-loading-spinner ng-show="paymentLoading"></pn-loading-spinner>
						<div ng-hide="paymentLoading" class="summary-card text-color-2">
							<h4 class="weight-bold font2 text-color-2">ORDER SUMMARY</h4>
							<div>
								<b>Sub Total: </b><span>Rs. {{lot.price}}</span>
							</div>
							<!-- <div>
								<b>Shopping Bag: </b><span>2 Items</span>
							</div>
							<div>
								<b>Coupon Discount: </b><span>N/A</span>
							</div> -->
							<div>
								<b>Shipping Charges: </b><span>Rs. 0</span>
							</div>
							<div class="payable-amount">
								<b>PAYABLE AMOUNT: </b><span>Rs. {{lot.price}}</span>
							</div>
						</div>
						<button ng-hide="paymentLoading" ng-click="proceedToPay()" class="btn btn-color btn-lg btn-block weight-bold font2">Proceed to Pay</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal for adding address -->
	<div class="add-new-address-modal modal fade">
		<div class="modal-dialog pn-modal bg-white">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<pn-loading-spinner ng-show="loadingInModal"></pn-loading-spinner>
					<div class="row" ng-hide="loadingInModal">
						<div class="col-md-12">
							<h3 ng-hide="showEditButton" class="text-color-2 no-margin-top">Add New Address</h3>
							<h3 ng-show="showEditButton" class="text-color-2 no-margin-top">Update Address</h3>
						</div>
						<div class="col-md-12 no-padding-grid" ng-hide="viewSavedAddresses">
							<div class="col-md-12">
								<input type="text" class="form-control" ng-model="address.line1" placeholder="Address Line 1">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.line2" placeholder="Address Line 2">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.locality" placeholder="Locality">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.city" placeholder="City">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.state" placeholder="State">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.country" placeholder="Country">
							</div>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" ng-model="address.zipCode" placeholder="Zip Code">
							</div>
							<div class="col-md-12"><br></div>
						</div>
						<div class="col-md-12">
							<button ng-hide="showEditButton" class="btn btn-confirm btn-lg btn-color font2 wight-bold" ng-click="addAddress()">Add Address</button>
							<button ng-show="showEditButton" class="btn btn-confirm btn-lg btn-color font2 wight-bold" ng-click="editAddress()">Update Address</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>