<!-- Profile-03.psd -->
<!-- Profile-04.psd -->
<!-- Profile-05.psd -->
<!-- Profile-06.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-wallet" ng-hide="loadingData">
	<div class="wallet-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="left-bar">
						<div class="card-1 box-shadow text-center">
							<div class="balance">
								<h4 class="font2 text-color-2 weight-bold">BALANCE</h4>
								<p class="font2 text-color-2">Rs. {{userWalletAmountInfo.totalAmount}}</p>
							</div>
							<div class="frozen">
								<h4 class="font2 text-color-2 weight-bold">AMOUNT FROZEN</h4>
								<p class="font2 text-color-2">Rs. {{userWalletAmountInfo.frozenAmount}}</p>
							</div>
						</div>
						<div class="card-2 box-shadow text-center">
							<div class="topbar text-center">
								<h4 class="font2 weight-bold">WALLET BALANCE</h4>
							</div>
							<div class="wallet-balance">
								<h4 class="font2 text-color-2 weight-bold">Rs. {{userWalletAmountInfo.walletAmount}}</h4>
							</div>
						</div>
						<div class="buttons">
							<button class="btn btn-lg btn-block btn-color weight-bold font2" ng-click="showAddMoney()">ADD MONEY</button>
							<button class="btn btn-lg btn-block btn-color weight-bold font2" ng-click="showWithdraw()">WITHDRAW</button>
							<button class="btn btn-lg btn-block btn-white weight-bold font2" ng-click="showPaymentHistory()">PAYMENT HISTORY</button>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="right-bar">
						<!-- payment History -->
						<div ng-show="showCards['paymentHistory']" class="payment-history-card card-wrapper box-shadow">
							<div class="topbar">
								<h4 class="font2 weight-bold">PAYMENT HISTORY</h4>
							</div>
							<pn-loading-spinner ng-show="requestingTransactionHistory"></pn-loading-spinner>
							<div ng-hide="requestingTransactionHistory" class="content text-color-2">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Transaction ID</th>
											<th>Type</th>
											<th>Time</th>
											<th class="text-right">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in userWalletTransactionHistory">
											<td>{{data.transactionId}}</td>
											<td>{{data.paymentType}}</td>
											<td>{{parseDateToReadableFormat(data.updatedAt)}}</td>
											<td class="text-right"><b>{{data.amountInvloved}}</b></td>
										</tr>
									</tbody>
								</table>
								<!-- <div>
									<a class="pull-right cursor-pointer">View More <i class="fa fa-arrow-right"></i></a>
									<div class="clearfix"></div>
								</div> -->
							</div>
						</div> <!-- / payment history -->

						<!-- add money -->
						<div ng-show="showCards['addMoney']" class="pay-with-razorpay-card card-wrapper box-shadow">
							<div class="topbar">
								<h4 class="font2 weight-bold">PAY WITH RAZORPAY</h4>
							</div>
							<div class="content">
								<form>
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<input type="text" ng-model="addMoneyToWallet.amount" class="form-control" placeholder="Amount">
										</div>
										<div class="col-md-4 col-sm-4">
											<input type="text" ng-model = "addMoneyToWallet.mobile" class="form-control" placeholder="Mobile Number">
										</div>
										<div class="col-md-4 col-sm-4">
											<input type="text" ng-model="addMoneyToWallet.email" class="form-control" placeholder="Email Id">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-right">
											<button type="button" ng-hide="addingAmountToWallet" ng-click="clickedOnAddMoneyToWallet()" class="btn btn-color btn-lg font2">ADD MONEY</button>
											<pn-loading-spinner ng-show="addingAmountToWallet"></pn-loading-spinner>
										</div>
									</div>
								</form>
							</div>
						</div> <!-- / add money -->

						<!-- direct pay to bank -->
						<div ng-show="showCards['addMoney']" class="direct-pay-card card-wrapper box-shadow">
							<div class="topbar">
								<h4 class="font2 weight-bold">DIRECT PAY INTO BANK</h4>
							</div>
							<div class="content text-color-2">
								<p>Transfer your amount directly into the below account and let us know the transaction id.</p>
								<p><b>Beneficiary Name: </b></p>
								<p><b>Name of Bank: </b></p>
								<p><b>IFSC Code: </b></p>
								<p><b>Account Number: </b></p>
								<p>Wallet will be recharged with amount credited to above bank account once you let us know the transaction id.</p>
							</div>
						</div> <!-- / direct pay to bank -->

						<!-- withdraw -->
						<div ng-show="showCards['withdraw']" class="withdraw-fund-card card-wrapper box-shadow">
							<div class="topbar">
								<h4 class="font2 weight-bold">WITHDRAW FUND</h4>
							</div>
							<div class="content">
								<form>
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<input type="text" ng-model="withdrawAmountInfo.amount" class="form-control" placeholder="Withdraw Fund(Rs.)">
										</div>
										<div class="col-md-4 col-sm-4">
											<input type="text" class="form-control" placeholder="A/C Holder Name" ng-model="userBankDetails.beneficiaryName" readonly="true">
										</div>
										<div class="col-md-4 col-sm-4">
											<button type="button" ng-click="requestForAmountWithdraw()" class="btn btn-block btn-color weight-bold  font2" ng-hide="requestingAmountWithdrawl">SUBMIT</button>
											<pn-loading-spinner ng-show="requestingAmountWithdrawl"></pn-loading-spinner>
										</div>
									</div>
								</form>
								<!-- <div class="row">
									<div class="col-md-12">
										<div class="tile inline-block">
											<span>NG</span>
										</div>
										<div class="tile inline-block">
											<span>SC</span>
										</div>
										<div class="tile inline-block">
											<span>+</span>
										</div>
									</div>
								</div> -->
							</div>
						</div> <!-- / withdraw -->

						<!-- payee account -->
						<div ng-show="showCards['withdraw']" class="payee-account-card card-wrapper box-shadow">
							<div class="topbar">
								<h4 class="font2 weight-bold">PAYEE ACCOUNT</h4>
							</div>
							<div class="content text-color-2">
								<form>
									<div class="row">
										<div class="col-md-12">
											<p>Amount requested for withdrawl will be credited to this account.</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.beneficiaryName" placeholder="Beneficiary Name">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.beneficiaryAccountNumber" placeholder="Beneficiary Account Number">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.bankName" placeholder="Bank Name">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.branchName" placeholder="Branch Name">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.IFSCCode" placeholder="IFSC Code">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" ng-model="userBankDetails.city" placeholder="City">
										</div>
										<div class="col-md-12">
											<button type="button" ng-hide="updatingBankAccountDetails" ng-click="updateWithdrawlAccountDetails()" class="btn btn-lg btn-color weight-bold font2">UPDATE ACCOUNT</button>
											<pn-loading-spinner ng-show="updatingBankAccountDetails"></pn-loading-spinner>
										</div>
									</div>
								</form>
							</div>
						</div> <!-- / payee account -->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>