<div ng-hide="onForgotPassword" class="header-wrapper web hidden-xs">
	<div class="container">
		<div class="login-register-btn-top">
			<div class="row">
				<div class="col-md-12">
					<button ng-show="!user.id" class="btn btn-color pull-right" data-toggle="modal" href='#login-signup-modal'>Login / Register</button>
					<button ng-show="user.id" class="btn btn-color pull-right" ng-click="logoutUser()">Logout {{user.name}}</button>
				</div>
			</div>
		</div>
		<div class="nav-wrapper">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="left-nav">
						<div class="row text-center">
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="buy">BUY</span></div></div>
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="sell">SELL</span></div></div>
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="rent.products">RENT</span></div></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="center-nav text-center">
						<img ui-sref="home" class="header-logo cursor-pointer" src="assets/imgs/planet-namo-logo.png" alt="">
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="right-nav text-center">
						<div class="row">
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="about">ABOUT</span></div></div>
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="contact">CONTACT</span></div></div>
							<div class="col-md-4 col-sm-4"><div class="nav-outer"><span ui-sref="me.profile">PROFILE</span></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-hide="onForgotPassword" class="header-wrapper mobile visible-xs">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="assets/imgs/planet-namo-logo-mobile.png" alt="Planet Namo">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a ui-sref="buy">BUY</a></li>
					<li><a ui-sref="sell">SELL</a></li>
					<li><a ui-sref="rent.products">RENT</a></li>
					<li><a ui-sref="about">ABOUT</a></li>
					<li><a ui-sref="contact">CONTACT</a></li>
					<li><a ui-sref="me.profile">PROFILE</a></li>
					<li><a href="#login-signup-modal" data-toggle="modal">LOGIN / REGISTER</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>