<!-- Compare page -->
<div id="compare-page">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="main-heading inline-block pull-left">
					<h3 class="font2 pn-gradient text-color-white weight-bold">COMPARE</h3>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="lot-type-tabs">
					<div class="row">
						<div class="col-md-12">
							<div class="main-heading inline-block pull-left">
								<h4 class="font2 weight-bold" ng-class="activeLotType['clearance']" ui-sref="compare.clearance">CLEARANCE STOCK</h4>
							</div>
							<div class="main-heading inline-block pull-left">
								<h4 class="font2 weight-bold" ng-class="activeLotType['auction']" ui-sref="compare.auction">AUCTION</h4>
							</div>
							<div class="main-heading inline-block pull-left">
								<h4 class="font2 weight-bold" ng-class="activeLotType['buy']" ui-sref="compare.buy">DIRECT BUY</h4>
							</div>
							<div class="main-heading inline-block pull-left">
								<h4 class="font2 weight-bold" ng-class="activeLotType['rent']" ui-sref="compare.rent">RENT</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ui-view></div>
</div>